@import "_coloresyTipografias";

//index 

//boton verde agua
.clickPositivo{
    background-color: $color-green-pastel;
    border-radius: 25px;
    padding: 5px 40px;
    font-size: 22px;
    font-weight: 400;
    font-family: $tipografia-poppins;
}
.clickPositivo:hover{
    border: 3px solid $color-green-pastel;
    background-color: $color-green-pastel;
    font-size: 24px;
    color: $color-black;
    transition: 0.7s;
}




//boton de enviar en contacto
.boton-enviar {
    font-size: 24px;
    font-family: $tipografia-poppins;
    padding: 14px 114px;
    border: 0px;
    border-radius: 100px;
    background-color: #DEF1DA;
    margin-top: 24px;
    color: #02503E;
    font-weight: 600;

    @media only screen and (max-width: 955px) {
        font-size: 14px;
        padding: 5px 54px;
    }
}

//Oportunidades
.btn-flag{
    background-color: $color-white;
    border-radius: 25px;
    border: $color-green-oscuro 2px solid;
    
    font-family: $tipografia-poppins;
    font-weight: 500;
    font-size: 20px;
    line-height:30px;
    text-align: center;
    
    margin: 15px;
    display: flex;
    /* --bs-btn-hover-border-color:none */

    a{
        color: $color-green-oscuro !important;
        text-decoration: none;
        list-style-type:none;
        
    }
}

.btn-flag:hover{
    border: $color-green-oscuro 2px solid;
}


@media only screen and (min-width: 360px) and (max-width: 1023px){
    btn-flag{
        background-color: $color-white;
        border-radius: 25px;
        border: $color-green-oscuro 2px solid;
        
        font-family: $tipografia-poppins;
        font-weight: 500;
        font-size: 14px;
        line-height:20px;
        text-align: center;
        
        margin: 15px;
        display: flex;
        /* --bs-btn-hover-border-color:none */
    
        a{
            color: $color-green-oscuro !important;
            text-decoration: none;
            list-style-type:none;
            
        }
    }

}
//preguntas y boton de contacto al final de cada hoja
.pregunta {
    padding-top: 62px;
    text-align: center;

    @media only screen and (max-width: 855px) {
        padding: 40px !important;
    }

    .pregunta-preboton {
        font-size: 24px;
        font-family: $tipografia-poppins;
        font-weight: 400;

        @media only screen and (max-width: 855px) {
            font-size: 16px;
        }
    }

    .boton-pregunta a{
        text-decoration: none;
        width: 305px;
        font-size: 24px;
        font-family: $tipografia-poppins;
        padding: 14px 80px;
        border: 0px;
        border-radius: 100px;
        background-color: $color-green-pastel;
        margin: 24px 0 92px 0;
        color: $color-green-oscuro;
        font-weight: 600;

        @media only screen and (max-width: 855px) {
            font-size: 16px;
            width: 152px;
            padding: 6px 20px !important;
        }
    }
}