@import "_coloresyTipografias";

//index 


.boton-conocenos {
    background-color: $color-white;
    color: $color-black;
    border: 3px solid $color-green-oscuro;
    border-radius: 25px;
    padding: 5px 40px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    font-family: $tipografia-poppins;
}

.boton-conocenos:hover {
    background-color: $color-white;
    color: $color-black;
    border: 3px solid $color-green-oscuro;
    cursor: pointer;
}

//boton verde agua
.clickPositivo {
    background-color: $color-green-pastel;
    border-radius: 25px;
    padding: 5px 40px;
    font-size: 22px;
    font-weight: 400;
    font-family: $tipografia-poppins;
    @media only screen and (max-width: 800px){
        font-size: 16px;
    }
}

.clickPositivo:hover {
    background-color: $color-green-pastel;
    color: $color-black;
    cursor: pointer;
}

.boton-negativo {
    background-color: $color-green-oscuro;
    color: $color-white;
    border: 3px solid $color-white;
    border-radius: 25px;
    padding: 5px 40px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
    font-family: $tipografia-poppins;
}

.boton-negativo:hover {
    border: 3px solid $color-white;
    font-size: 24px;
    color: $color-white;
    cursor: pointer;
}

.boton-default {
    font-size: 24px;
    font-family: $tipografia-poppins;
    width: 304px;
    height: 64px;
    padding: auto;
    border-radius: 100px;
    margin-top: 24px;
    font-weight: 600;

    @media only screen and (max-width: 955px) {
        font-size: 14px;
        width: 152px;
        height: 32px;
    }
}

.boton-default-basico {
    border: 0px;
    background-color: $color-green-pastel-2;
    color: $color-green-oscuro;
}

.boton-default-sin_fondo-invertido {
    border: 3px solid $color-white;
    background-color: transparent;
    color: $color-white;

    @media only screen and (max-width: 855px) {
        display: none;
    }
}

.boton-default-sin_fondo {
    border: 3px solid $color-green-oscuro;
    background-color: transparent;
    color: $color-green-oscuro;
    transition: color border 0.5s ease-in-out;
}

//boton de enviar en contacto -- SE REEMPLAZA POR boton-default
/* .boton-enviar {
    font-size: 24px;
    font-family: $tipografia-poppins;
    padding: 14px 114px;
    border: 0px;
    border-radius: 100px;
    background-color: $color-green-pastel-2;
    margin-top: 24px;
    color: $color-green-oscuro;
    font-weight: 600;

    @media only screen and (max-width: 955px) {
        font-size: 14px;
        padding: 5px 54px;
    }
} */

//Oportunidades
.btn-flag {
    background-color: $color-white;
    border-radius: 25px;
    border: $color-green-oscuro 2px solid;
    
    font-family: $tipografia-poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    margin: 15px;
    display: flex;
    /* --bs-btn-hover-border-color:none */

    a {
        color: $color-green-oscuro !important;
        text-decoration: none;
        list-style-type: none;
        
    }
}

.btn-flag:hover {
    border: $color-green-oscuro 2px solid;
}


@media only screen and (min-width: 360px) and (max-width: 1023px) {
    btn-flag {
        background-color: $color-white;
        border-radius: 25px;
        border: $color-green-oscuro 2px solid;
        
        font-family: $tipografia-poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        
        margin: 15px;
        display: flex;
        /* --bs-btn-hover-border-color:none */
    
        a {
            color: $color-green-oscuro !important;
            text-decoration: none;
            list-style-type: none;
            
        }
    }

}

//preguntas y boton de contacto al final de cada hoja
/* .pregunta {
    padding-top: 62px;
    text-align: center;

    @media only screen and (max-width: 855px) {
        padding: 40px !important;
    }

    .pregunta-preboton {
        font-size: 24px;
        font-family: $tipografia-poppins;
        font-weight: 400;

        @media only screen and (max-width: 855px) {
            font-size: 16px;
        }
    }

    .boton-pregunta a {
        text-decoration: none;
        width: 305px;
        font-size: 24px;
        font-family: $tipografia-poppins;
        padding: 14px 80px;
        border: 0px;
        border-radius: 100px;
        background-color: $color-green-pastel;
        margin: 24px 0 92px 0;
        color: $color-green-oscuro;
        font-weight: 600;

        @media only screen and (max-width: 855px) {
            font-size: 16px;
            width: 152px;
            padding: 6px 20px !important;
        }
    }
} */