@import "_coloresyTipografias";

//index 

//boton verde agua
.clickPositivo{
    background-color: $color-green-pastel;
    border-radius: 25px;
    padding: 5px 40px;
    font-size: 22px;
    font-weight: 400;
    font-family: $tipografia-poppins;
}
.clickPositivo:hover{
    border: 3px solid $color-green-pastel;
    background-color: $color-green-pastel;
    font-size: 24px;
    color: $color-black;
    transition: 0.7s;
}




//boton de enviar en contacto
.boton-enviar {
    font-size: 24px;
    font-family: $tipografia-poppins;
    padding: 14px 114px;
    border: 0px;
    border-radius: 100px;
    background-color: #DEF1DA;
    margin-top: 24px;
    color: #02503E;
    font-weight: 600;
}

//Oportunidades
.btn-flag{
    background-color: $color-white;
    border-radius: 25px;
    border: $color-green-oscuro 2px solid;
    
    font-family: $tipografia-poppins;
    font-weight: 500;
    font-size: 20px;
    line-height:30px;
    text-align: center;
    
    margin: 15px;
    display: flex;
    /* --bs-btn-hover-border-color:none */

    a{
        color: $color-green-oscuro !important;
        text-decoration: none;
        list-style-type:none;
        
    }
}

.btn-flag:hover{
    border: $color-green-oscuro 2px solid;
}