
$color-fondo-portada:#f8f8f8;
$color-white:#f9f9f9;
$color-black:rgb(10, 10, 10);

$color-green-oscuro:#02503E;
$color-green-medio:#009876;
$color-green-claro:#EDFEFB;
$color-green-pastel:#DBF8D7;
$color-green-pastel-2: #DEF1DA;

$color-red-oscuro:#ED1C24;
$color-red-pastel:#FDE8E9;

$color-yellow-oscuro:#FAC313;

$color-orange-oscuro:#F26123;
$color-orange-pastel:#F6EBC8;
$color-orange-pastel2: #FEF3D0;


$tipografia-poppins:'Poppins', sans-serif;
$tipografia-nunito:'Nunito';
$tipografia-nunito-sans:'Nunito Sans', sans-serif;
