/* footer */
@import "_coloresyTipografias";

footer {
    .logo-footer {
        width: 100px;
        height: 100px;
    }

    .col-footer, .col-footer-img {
        text-align: start;
    
        .titulo5 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 22px;
        }
    
        .letra-footer {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 14px;
        }
    
        .imagen-footer {
            .enlace-imagen-footer {
                text-decoration: none;
            }

            svg {
                margin:0px 4px;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
            .logo-footer {
                width: 60px;
                height: 60px;
            }
            
            .col-footer, .col-footer-img {
                .titulo5 {
                    font-size: 12px;
                }
    
                .letra-footer {
                    font-size: 10px;
                }
            }
    
            .col-footer-img {
                .imagen-footer {
                    svg {
                        width: 16px;
                    }
                }
            }
    }
}



/* a .imagen-default{
    width: 90px;
    height: 90px;
} */

/* .titulo5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.letra-footer{
    font-family: 'Poppins', sans-serif;
    
    font-size: 12px;
} */