/* footer */
@import "_coloresyTipografias";

footer {
    .logo-footer {
        width: 100px;
        height: 100px;
    }

    .col-footer, .col-footer-img {
        text-align: start;
    
        .titulo5 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 22px;
        }
    
        .letra-footer {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 14px;
        }

        .logo-email {
            display: none;
        }
    
        .imagen-footer {
            .enlace-imagen-footer {
                text-decoration: none;

                .logo-instagram{
                    width: 30px;
                }

                .logo-linkedin{
                    width: 47px;
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
            .logo-footer {
                width: 60px;
                height: 60px;
            }
            
            .col-footer, .col-footer-img {
                .titulo5 {
                    font-size: 12px;
                }
    
                .letra-footer {
                    font-size: 10px;
                }
            }
    
            .col-footer-img {
                .imagen-footer {
                    .logo-instagram{
                        width: 18px !important;
                    }
    
                    .logo-linkedin{
                        width: 28px !important;
                    }
                }
            }
    }

    @media only screen and (max-width: 520px) {
        .letra-footer-email {
            display: none !important;
        }

        .logo-email {
            display: inline-block !important;
        }
    }
}
