@import "_coloresyTipografias";
/* Presentacion portada */
.presentacion{
    width: 100%;
    
    text-align: center;
    
    .jumbotron{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/img/sobre-jea.1.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;

        .titulo1{
            color: $color-green-oscuro;
            font-size: 80px;
            font-weight: 800;
            font-family: $tipografia-nunito-sans;
            font-style: normal;
            
        }
    }
    
}

.relleno{
    background-color: $color-green-oscuro;
    color: $color-white;
    padding: 0 15px;
}


/* seccion 1 del index - espacio JEA */


 //objetivos

.objetivo-section{
    display: flex;
    justify-content: center ;

    .rojo{
        border: solid $color-red-oscuro 3px;
    }
    .verde{
        border: solid $color-green-medio 3px;
    }
    .amarillo{
        border: solid $color-yellow-oscuro 3px;
    }
    .overflow {
        

        overflow-x: scroll;
        
        width: 100vw;
        overflow-y: hidden;
        white-space: nowrap;
        
        display: flex;
        justify-content: center;
    
        
        margin: 20px;

        .overflow-item{
            width: 300px;
            height: 400px;
            border-radius: 25px;
            margin: 10px;
            
            
            h3{
                text-align: center;
                
            }
            .titulo-rojo{
                color: $color-red-oscuro;
            }
            .titulo-verde{
                color: $color-green-oscuro;
            }
            .titulo-amarillo{
                color: $color-yellow-oscuro;
            }
            
            .texto-complemento-objetivos{
                width: 240px;
                height: 200px;
                /*text-align:left; */
                padding: 10px;
                margin-left: 25px;

                font-weight: 400;
                font-size: 20px;
                font-family: $tipografia-nunito-sans;
            }
            
        }
        
    }

    .overflow-item img{
        margin-left: 100px !important;
        width: 80px;
        height: 80px;
        border-radius: 25px;
        margin: 10px;
        margin-top: 30px;
        
    }

}


@media only screen and (max-width: 800px){
    .objetivo-section{
        .overflow {
            
            overflow-x:scroll;
            /* -webkit-overflow-scrolling: touch; */
            overflow-y: hidden;
            white-space: nowrap;
            
            display: inline-block;
            
            margin: 10px;
        }
        
        .overflow-item {
            
            display: inline-block;
            list-style: none;
            margin-right: 10px;
            max-width: 250px;
            height: 450px !important;

            .texto-complemento-objetivos{
                width: 180px !important;
                height: 280px;
                text-align:left;
                padding: 10px;
                font-size: 14px;

                margin-left: 0px;
            }

            img{
                margin-left: 75px !important;
            }
        }
        
        
    }
    

}



.titulo2{
    strong{
        font-size: 800;
    }
    color: $color-green-oscuro;
    text-align: center;
    margin-top: 80px;
    font-family: $tipografia-nunito;
    font-weight: 400;
}
.titulos3{
    color: $color-green-oscuro;
    font-size: 36px;
    font-family: $tipografia-nunito-sans;
    font-weight: 800;
}

.imagen-default{
    width: 80px;
    height: 80px;
}


/* seccion SINERGIAS */

.contenedor-vectores{
    display: flex;
    justify-content: center;
    margin: 40px 0px;

    .vectores{
        margin: 15px;
    }
    
}


.img-conocer-jea{
    width: 720px;
    height: 430px;
    background-image: url(../img/sobre-jea.2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;

}


.contiene-foto-y-sobre-jea{
    margin-left: 32px;
    
}

.contiene-text-grupo{
    
    width: 100%;
    height: 100%;
    margin: 0;
    

    .prueb1{
        
        width: 100%;
    

        .grupo-texto-sobre-jea{
            font-size: 20px;
            font-weight: 700;
            padding: 10px;
            font-family: $tipografia-nunito-sans;
            text-align: justify;
            letter-spacing: 0.5px;
        }
    }
}


//boton en _botones.scss

.recuadro-verde{
    background-color: $color-green-oscuro;
    width: 1100px;
    height: 730px;
    padding-top: 10px;
    margin: 80px 0;
    border-radius: 25px;

    .contiene-cards-index{
        width:100%;

        .kit-card{
            display: flex;
            .card{
                font-weight: 400;
                font-size: 20px;
                width: 300px;
                height: 380px;
                border-radius: 25px;
                margin: 20px;
        
                .recuadro-texto{
                    padding: 10px;
                    font-family: $tipografia-nunito;
                }
            }
            .card1{
                background-color: $color-orange-pastel;
            }
            .card2{
                background-color: $color-green-pastel;
            }
            .card3{
                background-color: $color-red-pastel;
            }
        }
    }
    

    

}


//boton negativo en _botones.scss
.color1{
    color: $color-orange-oscuro;
}
.color2{
    color: $color-green-oscuro;
}
.color3{
    color: $color-red-oscuro;
}

.ancho{
    height: 100px;
}

.titulo-negativo{
    color: $color-white;
    text-align: center;
    margin: 50px 0px;
    font-family: $tipografia-nunito-sans;
    font-weight: 700;
    font-size: 32px;
}

//btn contactanos en sass botones

.titulo4{
    font-family: $tipografia-poppins;
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
}
.div-contactanos{
    margin-bottom: 50px;
    width: 100%;
}

//CAROUSEL
.carrousel{
    height: 300px;
    display: flex;
    align-items:center;
    padding: 60px;

    .carrousel-items{
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 30px 0px;


        .carrousel-item{
            margin: 10px;
            min-width:150px;
            max-width: 150px;
            height: 150px;
        }
        .carrousel-item img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
        
        .carrousel-item :hover{
            transform: scale(1.2);
        }
    }

}





@media only screen and (max-width: 800px) {
    .jumbotron {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/sobre-jea.1.jpg);
        background-size: cover;
        background-position: center;
        height: 240px;
        min-width:445px ;
        
        .container {
            width: 100%;
            max-width: 800px;
            max-height: 115px;
            translate: 0% 100%;
            padding: 0px;
            margin-left:0.5px ;
            display: flex;
            justify-content: center;
            align-items: center;

            .titulo-bienvenido {
                line-height: 36px;
                font-size: 26px;
                font-weight: 800;
                padding-top: 0px;
                font-family: $tipografia-nunito;
                color: $color-green-oscuro;
            }

        }
    }

    .titulo2{
        strong{
            font-size: 900;
        }
        font-size: 16px;
        line-height: 22px;
        color: $color-green-oscuro;
        text-align: center;
        margin-top: 40px;
        font-family: $tipografia-nunito;
        font-weight: 400;
        padding: 10px;
    }


    
    .carrousel{
        padding: 0px 15px;
        height: 200px;
    }
    .carrousel .carrousel-items .carrousel-item{
        margin: 10px;
        min-width:100px;
        max-width: 100px;
        height: 100px;
    }
    
    .contiene-foto-y-sobre-jea{
            padding: auto;
            display: flex;

            justify-content: center;
            align-items: center;
            margin: 0;
        .img-conocer-jea{
            
            max-height: 240px;
            max-width:400px ;
            background-image: url(../img/sobre-jea.2.jpg);
            background-position: center;
            background-size: cover;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;        
        }

        .varios{
            padding: 10px;
            margin: 10px 10px 10px 0px;
            
            .contiene-text-grupo{
                width:400px ;
                margin: 0;
                .prueb1 p{
                    
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 800;
                    max-height: 240px;
                    
                }
                
            }
        }
    }
    //recuadro verde
    .recuadro-verde{
        background-color: $color-green-oscuro;
        width: 100%;
        height: 520px;
        padding-top: 10px;
        margin: 40px 0;
        border-radius: 0;

        .titulo-negativo{
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
        }           
        .contiene-cards-index{
            display:flex;
            flex-direction: row;
            
            
            .kit-card{
                display: flex;
                
                .card{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    width: 180px;
                    height: 300px;
                    border-radius: 25px;
                    margin: 10px;
        
                    .titulos3{
                        font-size: 16px;
                        line-height: 20px;
                        height: 50px;
                    }
        
                    .recuadro-texto{
                        padding: 10px;
                        font-family: $tipografia-nunito;
                    }
                }
                
            }

        .card1{
            background-color: $color-orange-pastel;
        }
        .card2{
            background-color: $color-green-pastel;
        }
        .card3{
            background-color: $color-red-pastel;
        }
    }
        
    
        
    }
    
}
