/* jovenes inspiradores */
@import "_coloresyTipografias";

.jumbotron2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Jovenes_que_inspiran.jpg);
    background-size: cover;
    background-position: center;
    height: 390px;

    .cuadroJovenes{
        width: 430px;
        height: 391px;
        background: rgb(2,80,62);
        background: linear-gradient(90deg, rgba(2,80,62,1) 0%, rgba(2, 80, 62, 0.709) 75%);
        
        .titulo1{
            color: $color-white;
            font-size: 60px;
            font-weight: 700;
            font-family: $tipografia-nunito-sans;
            padding-top: 40px;
        }
        .inspiran{
            color: $color-white;
            font-size: 30px;
            font-weight: 200;
            font-family: $tipografia-nunito-sans;
        }
    }
}

.contieneTitulo{
    margin: 0px 150px;
    margin-top: 50px;
    .titulo{
        color: $color-green-oscuro;
        font-family: $tipografia-nunito-sans;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.02em;
        padding: 20px;
        margin: 20px 30px;
    }
}

.colorVector{
    background-color: $color-white;
    
}

.clickBtnVerde{
    background-color: $color-white;
    border: 3px solid $color-green-oscuro;
    border-radius: 25px;
    color: $color-green-oscuro;
    padding: 5px 60px;
    font-size: 24px;
    font-weight: 600;
    font-family: $tipografia-poppins;
}


@mixin tarjetas_jovenes_izq ($color-fondo, $url-imagen, $color-texto) {
    height: 477px;
    border-radius: 30px 0px 0px 30px;
    padding: 32px;
    margin: 0px 10px;
    background-color: $color-fondo;

    .imgTarj-1 {
        height: 300px;
        width: 325px;
        background-image: url($url-imagen);
        background-size: cover;
        border-radius: 20px 0px 0px 20px;
        position: relative;
    }

    .tarjeta-descripcion {
        color: white;
        border-radius: 20px 0px 0px 20px;
        background-color: $color-texto;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        padding: 50px 25px;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 22px;

        .texto-resaltado {
            font-weight: 600;
            background-color: white;
            color: $color-texto;
        }
    }

    .row {
        .divDialogo {
            color: $color-texto;

            .dialogoJoven {
                font-family: $tipografia-nunito;
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 27px;
            }
        }

    }

    .div-descripcion-logo {
        margin-top: 32px;

        .descripcionJoven {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &:hover {

        .tarjeta-descripcion {
            opacity: 1;
        }

        .pngEspacio {
            width: 100px;
            height: 100px;
            aspect-ratio: 1 / 1;
        }
    }

}

@mixin tarjetas_jovenes_der ($color-fondo, $url-imagen, $color-texto) {
    height: 477px;
    border-radius: 0px 30px 30px 0px;
    padding: 32px 34px 32px 32px;
    margin: 10px;
    background-color: $color-fondo;

    .imgTarj-2 {
        height: 300px;
        width: 325px;
        background-image: url($url-imagen);
        background-size: cover;
        border-radius: 0px 20px 20px 0px;
        position: relative; //posicion relativa para que aparezca la tarjeta-descripcion en el mismo lugar
    }

    .tarjeta-descripcion {
        color: white;
        border-radius: 0px 20px 20px 0px;
        background-color: $color-texto;
        opacity: 0;
        transition: opacity 0.5s ease-in-out; //transicion para que pase de opacidad 0 a 1
        position: absolute;
        padding: 60px 30px;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 22px;

        .texto-resaltado {
            //texto que se resalta con un fondo blanco
            font-weight: 700;
            background-color: white;
            color: $color-texto;
        }
    }

    .row {
        .divDialogo {
            color: $color-texto;

            .dialogoJoven {
                font-family: $tipografia-nunito;
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 27px;
            }
        }

    }

    .div-descripcion-logo {
        margin-top: 32px;

        .descripcionJoven {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &:hover {
        //hover para que aparezca la tarjeta-descripcion y el logo se agrande

        .tarjeta-descripcion {
            opacity: 1;
        }

        .pngEspacio {
            width: 100px;
            height: 100px;
            aspect-ratio: 1 / 1;
        }
    }
}

.contieneTarj {
    max-width: 1440px;
    margin: auto;

    .centradoTarjs {
        margin: 30px 50px;
    }

    .col-sm-6 {
        padding: 0px;
    }

    .inspiCard-1-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-red-pastel, $url-imagen: '../img/Viviane\ Ogou.png', $color-texto: $color-red-oscuro);
    }

    .inspiCard-1-der {
        @include tarjetas_jovenes_der ($color-fondo: $color-green-pastel, $url-imagen: '../img/Eyal Weintraub.png', $color-texto: $color-green-oscuro);
    }

    .inspiCard-2-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-orange-pastel, $url-imagen: '../img/Yael Crupnicoff.png', $color-texto: $color-orange-oscuro);
    }

    .inspiCard-2-der {
        @include tarjetas_jovenes_der ($color-fondo: $color-red-pastel, $url-imagen: '../img/Luisa Romero.png', $color-texto: $color-red-oscuro);
    }

    .inspiCard-3-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-green-pastel, $url-imagen: '../img/Álvaro Carrasco.png', $color-texto: $color-green-oscuro);
    }

    .inspiCard-3-der {
        @include tarjetas_jovenes_der ($color-fondo: $color-orange-pastel, $url-imagen: '../img/Daniela Ancira.png', $color-texto: $color-orange-oscuro);
    }

    .inspiCard-4-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-red-pastel, $url-imagen: '../img/Federico López.png', $color-texto: $color-red-oscuro);
    }

    .inspiCard-4-der {
        height: 477px;
        border-radius: 0px 30px 30px 0px;
        padding: 109px 96px 32px 96px;
        margin: 10px;
        background-color: $color-green-pastel;
        text-align: center;
        transition: background-color 0.5s ease-in-out;

        .row {
            height: 100%;

            .logoEntrevistas {
                height: 145px;
                width: 238px;
            }

            .textEntrevistas {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                text-align: center;
                color: $color-green-oscuro;
                transition: color 0.5s ease-in-out;
            }

            .clickEntrevistas {
                padding: 14px 47px;
                border: 3px solid $color-green-oscuro;
                border-radius: 100px;
                background-color: transparent;
                font-family: 'Poppins';
                color: $color-green-oscuro;
                transition: color border 0.5s ease-in-out;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }

        &:hover {
            background-color: $color-green-oscuro;

            .textEntrevistas {
                color: white;
            }

            .clickEntrevistas {
                color: white;
                border: 3px solid white;
            }
        }
    }
}




