/* jovenes inspiradores */
@import "_coloresyTipografias";

.jumbotron2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Jovenes_que_inspiran.jpg);
    background-size: cover;
    background-position: center;
    height: 494px;

    .cuadro-translucido {
        width: 500px;
        height: 100%;
        background: $color-green-oscuro;
        background: linear-gradient(90deg, rgba(2, 80, 62, 1) 0%, rgba(2, 80, 62, 0.709) 75%);
        text-align: start;
        padding: 88px 32px 88px 82px;

        .titulo-JeA {
            color: $color-white;
            font-size: 64px;
            font-weight: 800;
            font-family: $tipografia-nunito;
            padding-top: 40px;
            margin: 0px;
        }

        div {
            .titulo1 {
                color: $color-white;
                font-size: 52px;
                font-weight: 700;
                font-family: $tipografia-nunito;

                strong {
                    font-weight: 700;
                }
            }

            .inspiran {
                color: $color-white;
                font-size: 30px;
                font-weight: 200;
                font-family: $tipografia-nunito-sans;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .jumbotron2 {
        height: 240px;

        .cuadro-translucido {
            width: 100%;
            max-width: 800px;
            max-height: 80px;
            translate: 0% 100%;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .titulo-JeA {
                font-size: 28px;
                font-weight: 800;
                padding-top: 0px;
            }

            div {
                margin-left: 8px;

                .titulo1 {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0px;

                    strong {
                        color: $color-green-oscuro;
                        background-color: $color-white;
                        font-weight: 900;
                    }
                }

                .inspiran {
                    font-size: 16px;
                    font-weight: 200;
                }
            }
        }
    }
}

.contenedor-titulo {
    margin: 0px 150px;
    margin-top: 50px;

    .titulo {
        max-width: 844px;
        color: $color-green-oscuro;
        font-family: $tipografia-nunito-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.02em;
        padding: 20px;
        margin: 20px 30px;
    }
}

.color-bg-vector {
    background-color: $color-green-claro;
    padding: 32px 20px;
    margin: 0 20px;
}

.contenedor-vectores {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    width: 100%;

    .vectores {
        background-image: url(../img/Group-jov-insp-vector.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 722px;
        height: 71px;

        @media only screen and (min-width: 320px) {
            width: 300px !important;
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 500px) {
        min-width: 300px;
        max-width: 100vw;
        display: inline-block;
    }
}


@mixin tarjetas_jovenes_izq ($color-fondo, $url-imagen, $color-texto) {
    border-radius: 30px 0px 0px 30px;
    padding: 32px;
    margin: 10px;
    background-color: $color-fondo;

    @media only screen and (max-width: 900px) {
        border-radius: 0px;
        height: 450px; 
        max-width: 450px;
        margin: auto;
    }

    @media only screen and (max-width: 575px) {
        border-radius: 0px;
        height: 480px; 
    }

    @media only screen and (max-width: 440px) {
        border-radius: 0px;
        height: 500px; 
    }

    @media only screen and (max-width: 328px) {
        border-radius: 0px;
        height: 520px; 
    }

    .imagen-descripcion-dialogo {
        @media only screen and (max-width: 900px) {
            position: relative;
        }
    }

    .imagen-tarjeta-1 {
        height: 300px;
        max-width: 325px;
        background-image: url($url-imagen);
        background-size: cover;
        position: relative;
        border-radius: 20px 0px 0px 20px;

        @media only screen and (max-width: 900px) {
            margin: 0px auto;
            height: 250px;
            max-width: 200px;
            border-radius: 20px;
            position: static;
        }

        @media only screen and (max-width: 576px) {
            margin: 0px auto;
            height: 200px;
            max-width: 150px;
            border-radius: 20px;
        }
    }

    .tarjeta-descripcion {
        color: white;
        border-radius: 20px 0px 0px 20px;
        background-color: $color-texto;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        padding: 50px 25px;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        font-family: $tipografia-nunito;
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 22px;

        @media only screen and (max-width: 1190px) {
            font-size: 0.9em;
            padding: 40px 20px;
        }
        
        @media only screen and (max-width: 960px) {
            font-size: 0.8em;
            padding: 30px 20px;
        }
        
        @media only screen and (max-width: 900px) {
            font-size: 12px;
            padding: auto;
            border-radius: 0px;
            right: 0px;
        }

        .texto-resaltado {
            font-weight: 600;
            background-color: white;
            color: $color-texto;
        }
    }

    .posicion-cerrar {
        right: 0px;
        font-size: 50px;
        text-align: end;
        padding: 0px 20px;

        .cerrar-tarjeta {
            background-color: transparent;
            border: 0px solid white;
            color: white;
        }
    }

    .div-dialogo-joven {
        color: $color-texto;

        .dialogo-joven {
            font-family: $tipografia-nunito;
            font-style: normal;
            font-size: 20px;
            line-height: 27px;

            strong {
                font-weight: 800;
            }

            @media only screen and (max-width: 1190px) {
                font-size: 1em;
                line-height: 24px;
            }

            @media only screen and (max-width: 960px) {
                font-size: 0.9em;
                line-height: 20px;
            }

            @media only screen and (max-width: 900px) {
                font-size: 14px;
                line-height: 17px;
            }

            @media only screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 17px;
            }


        }
    }

    .div-descripcion-logo {
        margin-top: 32px;

        @media only screen and (max-width: 1050px) {
            margin-top: 26px;
        }

        @media only screen and (max-width: 900px) {
            margin-top: 12px;
        }

        @media only screen and (max-width: 568px) {
            margin-top: 8px;
        }

        .descripcion-joven {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;

            @media only screen and (max-width: 1190px) {
                font-size: 1em;
            }
            
            @media only screen and (max-width: 960px) {
                font-size: 0.9em;
            }

            @media only screen and (max-width: 900px) {
                font-size: 12px;
                text-align: center;
            }
        }

        .imagen-logo {
            max-width: 200px;

            @media only screen and (max-width: 1200px) {
                max-width: 160px;
            }

            @media only screen and (max-width: 1000px) {
                max-width: 140px;
            }
        }
    }

    .posicion-boton {
        width: 95%;
        text-align: center;
        margin-top: 8px;

        .boton-ver-mas {
            width: 150px;
            height: 30px;
            border: 2px solid $color-texto;
            border-radius: 100px;
            font-family: $tipografia-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: $color-texto;
        }
    }

    &:hover {

        .tarjeta-descripcion {
            opacity: 1;
        }

        .imagen-logo {
            max-width: 240px;

            @media only screen and (max-width: 1200px) {
                max-width: 180px;
            }

            @media only screen and (max-width: 1000px) {
                max-width: 160px;
            }
        }

        .imagen-default {
            width: 100px;
            height: 100px;
            aspect-ratio: 1 / 1;
        }
    }

}

@mixin tarjetas_jovenes_der ($color-fondo, $url-imagen, $color-texto) {
    border-radius: 0px 30px 30px 0px;
    padding: 32px 34px 32px 32px;
    margin: 10px;
    background-color: $color-fondo;

    @media only screen and (max-width: 900px) {
        border-radius: 0px;
        height: 550px;
        margin: 0px; 
    }

    .imagen-tarjeta-2 {
        height: 300px;
        max-width: 325px;
        background-image: url($url-imagen);
        background-size: cover;
        border-radius: 0px 20px 20px 0px;
        position: relative; //posicion relativa para que aparezca la tarjeta-descripcion en el mismo lugar

        @media only screen and (max-width: 900px) {
            margin: 0px auto;
            height: 250px;
            max-width: 200px;
            border-radius: 20px;
        }
    }

    .tarjeta-descripcion {
        color: white;
        border-radius: 0px 20px 20px 0px;
        background-color: $color-texto;
        opacity: 0;
        transition: opacity 0.5s ease-in-out; //transicion para que pase de opacidad 0 a 1
        position: absolute;
        padding: 60px 30px;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 22px;

        @media only screen and (max-width: 1190px) {
            font-size: 0.9em;
            padding: 40px 20px;
        }
        
        @media only screen and (max-width: 960px) {
            font-size: 0.8em;
            padding: 30px 20px;
        }
        
        @media only screen and (max-width: 900px) {
            font-size: 12px;
            border-radius: 20px;
            padding: auto;
        }

        .texto-resaltado {
            font-weight: 700;
            background-color: white;
            color: $color-texto;
        }
    }

    .div-dialogo-joven {
        color: $color-texto;

        .dialogo-joven {
            font-family: $tipografia-nunito;
            font-style: normal;
            font-size: 20px;
            line-height: 27px;
            height: 200px;

            strong {
                font-weight: 800;
            }

            @media only screen and (max-width: 1190px) {
                font-size: 1em;
            }

            @media only screen and (max-width: 960px) {
                font-size: 0.9em;
            }

            @media only screen and (max-width: 900px) {
                font-size: 14px;
            }
        }
    }

    .div-descripcion-logo {
        margin-top: 32px;

        @media only screen and (max-width: 1050px) {
            margin-top: 24px;
        }

        @media only screen and (max-width: 900px) {
            margin-top: 12px;
        }

        .descripcion-joven {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;

            @media only screen and (max-width: 1190px) {
                font-size: 1em;
            }
            
            @media only screen and (max-width: 960px) {
                font-size: 0.9em;
            }

            @media only screen and (max-width: 900px) {
                font-size: 12px;
                text-align: center;
            }
        }

        .imagen-logo {
            max-width: 200px;
            max-height: 80px;

            @media only screen and (max-width: 1200px) {
                max-width: 160px;
            }

            @media only screen and (max-width: 1000px) {
                max-width: 140px;
            }

            @media only screen and (max-width: 900px) {
                max-width: 120px;
            }
        }
    }

    &:hover {

        .tarjeta-descripcion {
            opacity: 1;
        }

        .imagen-logo {
            max-width: 240px;
            max-height: 100px;

            @media only screen and (max-width: 1200px) {
                max-width: 180px;
            }

            @media only screen and (max-width: 1000px) {
                max-width: 160px;
            }
        }
    }
}

.contenedor-tarjetas {
    max-width: 1440px;
    margin: auto;

    .div-tarjetas-margin {
        margin: 30px 50px;

        @media only screen and (max-width: 1190px) {
            margin: 20px 40px;
        }

        @media only screen and (max-width: 1000px) {
            margin: 20px 20px;
        }

        @media only screen and (max-width: 900px) {
            margin: 0px;    
        }

        .grid-tarjetas {
            display: block;

            @media only screen and (max-width: 900px) {
                display: none;   
            }
        }

        .carousel-jovenes {
            display: none;

            @media only screen and (max-width: 900px) {
                display: block;   
            }
        }
    }

    .tarjeta-joven-inspira-1-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-red-pastel, $url-imagen: '../img/Viviane\ Ogou.png', $color-texto: $color-red-oscuro);
    }

    .tarjeta-joven-inspira-1-der {
        @include tarjetas_jovenes_der ($color-fondo: $color-green-pastel, $url-imagen: '../img/Eyal Weintraub.png', $color-texto: $color-green-oscuro);
    }

    .tarjeta-joven-inspira-2-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-orange-pastel, $url-imagen: '../img/Yael Crupnicoff.png', $color-texto: $color-orange-oscuro);

        .imagen-tarjeta-1 {
            background-position: 85% 0%;
        }
    }

    .tarjeta-joven-inspira-2-der {
        @include tarjetas_jovenes_der ($color-fondo: $color-red-pastel, $url-imagen: '../img/Luisa Romero.png', $color-texto: $color-red-oscuro);

        .imagen-tarjeta-2 {
            background-position: 0% 15%;
        }
    }

    .tarjeta-joven-inspira-3-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-green-pastel, $url-imagen: '../img/Álvaro Carrasco.png', $color-texto: $color-green-oscuro);
    }

    .tarjeta-joven-inspira-3-der {
        @include tarjetas_jovenes_der ($color-fondo: $color-orange-pastel, $url-imagen: '../img/Daniela Ancira.png', $color-texto: $color-orange-oscuro);

        .imagen-tarjeta-2 {
            background-position: 100% 20%;
        }
    }

    .tarjeta-joven-inspira-4-izq {
        @include tarjetas_jovenes_izq ($color-fondo: $color-red-pastel, $url-imagen: '../img/Federico López.png', $color-texto: $color-red-oscuro);
    }

    .tarjeta-joven-inspira-4-der {
        height: 477px;
        border-radius: 0px 30px 30px 0px;
        padding: 109px 96px 32px 96px;
        margin: 10px;
        background-color: $color-green-pastel;
        text-align: center;
        transition: background-color 0.5s ease-in-out;

        svg {
            circle {
              transition: stroke 0.5s ease-in-out; /* Transición para la propiedad stroke */
            }
        
            path {
              transition: fill 0.5s ease-in-out, stroke 0.5s ease-in-out; /* Transiciones para las propiedades fill y stroke */
            }

            .fondo-circulo {
                transition: fill 0.5s ease-in-out, stroke 0.5s ease-in-out;
            }
        }

        .logo-entrevistas {
            height: 145px;
            width: 238px;
        }
        
        .texto-entrevistas {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: $color-green-oscuro;
            transition: color 0.5s ease-in-out;
        }

        .boton-default-sin_fondo {
            transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
        }

        &:hover {
            background-color: $color-green-oscuro;

            svg {
                circle {
                  stroke: #ffffff;
                }
            
                path {
                  fill: #ffffff;
                  stroke: #ffffff;
                }

                .fondo-circulo {
                    fill: $color-green-oscuro;
                }
            }

            .texto-entrevistas {
                color: white;
            }

            .boton-default-sin_fondo {
                color: white;
                border: 3px solid white;
            }
        }
    }
}