/* navbar */
@import "_coloresyTipografias";

.cambio-posicion-nav{
    flex-grow: 0;
    
    .submenu{
        background-color: $color-green-claro;
    }
}

.navbar{
    
    .icono-nav{
        object-fit: contain;
        width: 70px;
        height: 70px;
    }
    
    .jovenes {
        font-size: 18px;
        margin-bottom: -8px;
    }

    .enaccion {
        font-size: 18px;
        margin-top: -8px;
    }
    
    .nav-color{
        color: $color-green-oscuro !important;
        font-size: 16px;
        font-family: $tipografia-poppins;
    }

    .nav-link {
        @media only screen and (min-width: 992px) and (max-width: 1012px){
            font-size: 14px;
        }
    }
}



//para hacer efecto de click
.especial{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 3px solid $color-green-oscuro;
    padding-bottom: 3px;
}
.nav-color:hover{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 3px solid $color-green-oscuro;
    padding-bottom: 3px;
}


.submenu-color{
    color: $color-green-oscuro !important;
    font-size: 16px;
    font-family: $tipografia-poppins;
}

.submenu-color:hover{
    font-weight: bold;
    font-size: 16px;
    background-color: $color-green-oscuro;
    color: $color-white !important;
}