@import "_coloresyTipografias";


.jumbotron6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/oportunidades.1.jpg);
    background-size: cover;
    background-position: center;
    height: 494px;

    .cuadro-translucido {
        width: 600px;
        height: 100%;
        background: $color-green-oscuro;
        background: linear-gradient(90deg, rgba(2, 80, 62, 1) 0%, rgba(2, 80, 62, 0.709) 75%);
        text-align: start;
        padding: 88px 32px 88px 82px;

        .titulo-JeA {
            color: $color-white;
            font-size: 64px;
            font-weight: 800;
            font-family: $tipografia-nunito;
            padding-top: 40px;
            margin: 0px;

        }

    }
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
    .jumbotron6 {
        height: 240px;

        .cuadro-translucido {
            /* width: 100%; */
            min-width: 320px !important;
            max-height: 80px;
            translate: 0% 100%;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .titulo-JeA {
                font-size: 28px;
                font-weight: 500;
                padding-top: 0px;
                padding-left: 50px;
            }


        }
    }
}



.becas {
    /* background-color: beige; */
    display: flex;
    margin: 50px 150px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

    .fondo-becas {
        display: flex; //es para poner al lado los @
        background-color: $color-green-pastel-2;
        border-radius: 30px;

        .imag-titulos {
            display: flex;
            position: relative;

            width: 450px;
            height: 450px;
            background-image: url(../img/oportunidades.2.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 30px;
            @media only screen and (min-width: 320px) and (max-width: 800px){
                max-width: 300px;
                /* max-height: 350px; */
            }

            .titulo-opo {
                position: absolute;
                bottom: -10px;

                text-align: center;
                width: 100%;
                padding: 30px;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;

                height: 100px;
                color: $color-white;
                font-size: 26px;
                font-weight: 600;
                font-family: $tipografia-nunito;
                background: linear-gradient(90deg, $color-green-medio 0%, rgba(14, 128, 102, 0.626) 75%);
                
                @media only screen and (min-width: 320px) and (max-width: 800px){
                    font-size: 14px;
                    height: 80px;
                    padding: 20px;
                }
            }
        }

        .content-texto-becas {
            border-radius: 30px;
            background-color: $color-green-pastel-2;
            width: 750px;
            height: 450px;

            @media only screen and (min-width: 320px) and (max-width: 576px){
                width: 300px !important;
                margin: 0;
                
            }

            .texto-becas{
                @media only screen and (min-width: 320px) and (max-width: 800px){
                    width: 260px;
                }
            }
            .titulo-becas {
                font-family: $tipografia-nunito;
                font-weight: 800;
                font-size: 32px;
                line-height: 60px;

                background-color: $color-green-medio;
                color: $color-white;
                width: 150px;
                padding: 5px;
                text-align: center;

                margin-top: 10px;
                margin-left: 45px;
                
            }

            .becas-ajuste {
                display: flex;
                padding: 10px;
                @media only screen and (min-width: 320px) and (max-width: 800px){
                    width: 260px;
                }


                ul {
                    /* background-color: chartreuse; */
                    width: 50%;
                    margin: 0;
                    

                    li {
                        list-style-type: none;
                        /* border: 2px solid red; */



                        a {
                            text-decoration: none;
                            color: $color-green-oscuro;
                            font-size: 24px;
                            font-family: $tipografia-nunito;
                            font-weight: 400px;
                            line-height: 36px;
                            /* background-color: rgba(139, 0, 76, 0.736); */
                        }
                    }
                }

            }


        }
    }

}

.programa {
    border: 3px solid $color-green-medio;
    border-radius: 25px;
    margin: 20px;
    margin-left: 150px;
    padding: 20px;
    width: 1200px;
    height: 250px;
    display: flex;
    @media only screen and (min-width: 320px) and (max-width: 800px){
        width: 300px !important;
        margin: 0;
    }


    h3 {
        color: $color-green-medio;
        /* border: 2px solid greenyellow; */
        padding: 5%;
        padding-right: 150px;
    }

    .programa-logos {
        /* border: 2px solid blue; */
        display: flex;
        align-items: flex-end;

        div {
            /* border: 2px solid red; */
            padding: 10px 30px;
        }

        .img-especial {
            background-color: #642869;
            border-radius: 50%;
            margin: 10px;
            width: 120px;
        }

        .img-programa {
            width: 160px;
            height: 100px;
        }

        button {
            display: flex;
            text-align: center;
        }
    }
}


.titulo-flag {
    margin-top: 125px;
    margin: 90px;
    padding: 10px 60px;

    .titulo-voluntariado {
        font-family: $tipografia-nunito;
        font-weight: 800;
        font-size: 32px;
        line-height: 60px;

        background-color: $color-green-medio;
        color: $color-white;
        width: 250px;
        padding: 5px;
        text-align: center;

        margin-top: 10px;
        margin-left: 110px;
    }

    .text-flag {
        /* border: 2px solid rgb(141, 47, 255); */

        font-family: $tipografia-nunito;
        font-size: 24px;
        font-weight: 400px;
        line-height: 32px;

        width: 80%;
        padding: 20px;
        margin-top: 30px;
        margin-left: 110px;


        span {
            font-weight: 800;
            color: $color-green-medio;

        }
    }


}

.container-group {
    /* border: 2px solid rgb(141, 47, 255); */

    display: flex;
    flex-wrap: wrap;

    justify-content: start;

    margin: 15px 160px;
    margin-bottom: 150px;
    @media only screen and (min-width: 320px) and (max-width: 800px){
        overflow-x:scroll !important;
        -webkit-overflow-scrolling: touch;
            overflow-y: hidden;
            white-space: nowrap;
            flex-direction: row;
            flex-wrap: nowrap;
            /* display: inline-block; */
            
            margin: 10px;
    }


    .flag {
        padding: 20px;
    }
}

.img-flag {
    width: 160px;
    height: 98px;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {



    .contenedor-titulo {
        min-width: 320px;
        margin: 0;
        .titulo{
                font-size: 18px;
                line-height: 20px;
        } 
    }

    //becas
    .becas {
        margin: 10px;

        .fondo-becas {
            flex-direction: column;
            min-width: 280px;
            margin: 0;
            .imag-titulos {
                width: 350px;

                .titulo-opo {
                    font-family: $tipografia-poppins;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;

                }
            }

            .content-texto-becas {
                width: 350px;
                height: 34rem;

                .titulo-becas {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 30px;
                }

                .becas-ajuste {
                    flex-direction: column;

                    ul {
                        width: 300px;

                    }

                    ul li a {

                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin: 15px 0;

                    }
                }
            }
        }
    }

    .programa {
        flex-direction: column;

        border: 3px solid $color-green-medio;
        border-radius: 25px;
        margin: 10px;

        margin-top: 40px;

        padding: 10px;
        width: 340px;
        height: auto;




        h3 {
            color: $color-green-medio;
            /* border: 2px solid greenyellow; */
            padding: 10px;
            text-align: center;

        }

        .programa-logos {
            /* border: 2px solid blue; */
            flex-direction: column;
            align-items: center;

            div {

                /* border: 2px solid red; */
                padding: 15px 10px;

            }

            .img-especial {
                background-color: #642869;
                border-radius: 50%;
                margin: 10px;
            }

            .img-programa {
                width: 100px;
                height: 80px;
            }

            button {
                /* display: flex; */
                text-align: center;
                align-content: center;
            }
        }
    }

    .titulo-flag {
        flex-direction: column;


        margin-top: 15px;
        margin: 00px;
        padding: 5px;

        .titulo-voluntariado {
            font-family: $tipografia-nunito;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;

            background-color: $color-green-medio;
            color: $color-white;
            width: 200px;
            padding: 5px;
            text-align: center;

            margin-top: 10px;
            margin-left: 0px;
        }

        .text-flag {
            /* border: 2px solid rgb(141, 47, 255); */

            font-family: $tipografia-nunito;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;

            width: 100%;
            padding: 10px;
            margin: 0px;


            span {
                font-weight: 800;
                color: $color-green-medio;

            }
        }


    }

    

}