@import "_coloresyTipografias";

.jumbotron3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/organizaciones.1.png);
    background-size: cover;
    background-position: center;
    height: 494px;

    .cuadro-translucido {
        width: 500px;
        height: 100%;
        background: rgb(2, 80, 62);
        background: linear-gradient(90deg, rgba(2, 80, 62, 1) 0%, rgba(2, 80, 62, 0.709) 75%);
        text-align: start;
        padding: 88px 32px 88px 82px;

        .titulo-JeA {
            color: $color-white;
            font-size: 64px;
            font-weight: 800;
            font-family: $tipografia-nunito;
            padding-top: 40px;
            margin: 0px;
        }

        div {
            .titulo1 {
                color: $color-white;
                font-size: 52px;
                font-weight: 700;
                font-family: $tipografia-nunito;

                strong {
                    font-weight: 700;
                }
            }

            .inspiran {
                color: $color-white;
                font-size: 30px;
                font-weight: 200;
                font-family: $tipografia-nunito-sans;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .jumbotron3 {
        height: 240px;

        .cuadro-translucido {
            width: 100%;
            max-width: 800px;
            max-height: 80px;
            translate: 0% 100%;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .titulo-JeA {
                font-size: 28px;
                font-weight: 800;
                padding-top: 0px;
            }

            div {
                margin-left: 8px;

                .titulo1 {
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0px;

                    strong {
                        color: $color-green-oscuro;
                        background-color: $color-white;
                        font-weight: 900;
                    }
                }

                .inspiran {
                    font-size: 16px;
                    font-weight: 200;
                }
            }
        }
    }


}

.descripcion {
    text-align: center;
    font-family: $tipografia-nunito;
    padding: 90px 0px;
    background-color: $color-green-claro;



    .cuadro-descripcion-pregunta {
        max-width: 1000px;

        h3 {
            font-size: 24px;
            color: $color-green-oscuro;

            @media only screen and (max-width: 955px) {
                font-size: 16px;
            }
        }
    }
}

//TARJETAS
@mixin tarjetas_personalizadas ($fondo-principal, $fondo-secundario, $borde-primario, $borde-secundario) {
    min-height: 200px;
    min-width: 200px;
    max-height: 350px;
    max-width: 350px;
    aspect-ratio: 1 / 1;
    border-radius: 24px;
    border: 4px solid $borde-primario;
    background-color: $fondo-secundario;
    margin: 12px;
    padding: 0px;
    position: relative;
    overflow: hidden;

    .tarjeta {
        position: absolute;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        color: $color-white;
        font-size: 18px;
        font-weight: 500;

        @media only screen and (max-width: 767px) {
            font-size: 14px;

            .tarjeta-larga-afs {
                padding-top: 30px;
            }
        }

        .texto-resaltado {
            color: $borde-secundario;
            background-color: $color-white;
            font-weight: 700;
            padding: 0px 3px;
        }

        .texto-organizacion {
            font-weight: 900;
        }
    }

    .tarjeta-imagen {
        background-color: $fondo-principal;
        opacity: 1;
        z-index: 0;
        transition: opacity 0.5s ease-in-out;
        padding: 95px 75px;
    }

    .tarjeta-descripcion {
        font-family: $tipografia-nunito;
        background-color: $fondo-secundario;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
    }

    @media only screen and (min-width: 772px) {
        &:hover {
            border: 4px solid $borde-secundario;

            .tarjeta-imagen {
                opacity: 0;
                z-index: -1;
            }

            .tarjeta-descripcion {
                opacity: 1;
                z-index: 0;
            }
        }
    }

    .mostrar {
        opacity: 1;
        z-index: 0;
    }

    .ocultar {
        opacity: 0;
        z-index: -1;
    }

    .posicion-boton {
        padding: 0px;
        top: 85%;
        text-align: center;
        display: none;

        .boton-ver-mas {
            width: 150px;
            height: 30px;
            border: 2px solid $borde-primario;
            border-radius: 100px;
            font-family: $tipografia-poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: $borde-primario;
        }

        @media only screen and (max-width: 771px) {
            display: inline-block;
        }
    }

    .posicion-cerrar {
        top: -15px;
        font-size: 50px;
        text-align: end;
        padding: 0px 20px;

        .cerrar-tarjeta {
            background-color: transparent;
            border: 0px solid white;
            color: white;
        }
    }
}

.seccion-tarjetas {
    margin: 0px;
    padding: 0px;

    .contenedor-tarjetas {
        margin: 80px 0px;

        .tarjetas1 {
            @include tarjetas_personalizadas ($fondo-principal: #FDE8E9, $fondo-secundario: #ED1C24, $borde-primario: #ED1C24, $borde-secundario: #ED1C24);
        }

        .tarjetas2 {
            @include tarjetas_personalizadas ($fondo-principal: #DEF1DA, $fondo-secundario: #10936E, $borde-primario: #10936E, $borde-secundario: #10936E);
        }

        .tarjetas3 {
            @include tarjetas_personalizadas ($fondo-principal: #FEF3D0, $fondo-secundario: #F26123, $borde-primario: #FAC313, $borde-secundario: #F26123);
        }

        .tarjetas4 {
            @include tarjetas_personalizadas ($fondo-principal: #FEF3D0, $fondo-secundario: #F26123, $borde-primario: #FAC313, $borde-secundario: #F26123);
        }

        .tarjetas5 {
            @include tarjetas_personalizadas ($fondo-principal: #FDE8E9, $fondo-secundario: #ED1C24, $borde-primario: #ED1C24, $borde-secundario: #ED1C24);
        }
    }
}

//CAROUSEL
.carrusel-div {
    background-color: $color-white;
    position: relative;
    padding: 40px 80px;

    .carrusel {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        width: 90%;
        padding: 0px;

        .elemento {
            flex: 1 0 auto;
            margin: 0 10px;
            border-radius: 16px;
            width: 300px;
            height: 200px;
        }

        .primer-elemento {
            margin: 0 10px 0 0;
            background-image: url(../img/fotos-carousel-organizaciones/img-01.webp);
            background-size: cover;
            background-position: center;
        }

        .segundo-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-02.jpg);
            background-size: cover;
            background-position: center;
        }

        .tercer-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-03.jpg);
            background-size: cover;
            background-position: center;
        }

        .cuarto-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-04.jpeg);
            background-size: cover;
            background-position: center;
        }

        .quinto-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-05.webp);
            background-size: cover;
            background-position: center;
        }

        .sexto-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-06.jpg);
            background-size: cover;
            background-position: center;
        }

        .septimo-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-07.jpg);
            background-size: cover;
            background-position: center;
        }

        .octavo-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-08.jpg);
            background-size: cover;
            background-position: center;
        }

        .noveno-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-09.jpg);
            background-size: cover;
            background-position: center;
        }

        .decimo-elemento {
            background-image: url(../img/fotos-carousel-organizaciones/img-10.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    .carrusel::-webkit-scrollbar {
        height: 0px;
    }

    .flecha-izquierda {

        svg {
            position: absolute;
            top: 50%;
            left: 4rem;
            cursor: pointer;
        }
    }

    .flecha-derecha {

        svg {
            position: absolute;
            top: 50%;
            right: 4rem;
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 800px) {
        padding: 40px 0px;

        .flechas {
            display: none;
        }
    }
}