@import "_coloresyTipografias";

.jumbotron7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/quiénes\ somos.1.jpg);
    background-size: cover;
    background-position: center;
    height: 370px;

    .cuadro-translucido {
        max-width: 590px;
        height: 370px;
        background: $color-green-oscuro;
        background: linear-gradient(90deg, $color-green-oscuro 0%, rgba(2, 80, 62, 0.709) 75%);
        text-align: start;

        .titulo1 {
            color: $color-white;
            font-size: 60px;
            font-weight: 700;
            font-family: $tipografia-nunito;
            margin: 0px 50px
        }


    }
}

.titulo-quienes-somos {
    font-family: $tipografia-nunito;
    color: $color-green-oscuro;
    font-size: 36px;
    padding: 10px 30px;
    text-align: center;
    margin: 30px 60px;
}

.pilares_historia {
    max-width: 1300px;
    margin: auto;
}

.relleno-green {
    background-color: $color-green-oscuro;
    color: $color-white;
    padding: 0 15px;

}

.relleno-yellow {
    background-color: $color-orange-oscuro;
    color: $color-white;
    padding: 0 15px;

}

.relleno-red {
    background-color: $color-red-oscuro;
    color: $color-white;
    padding: 0 15px;

}

.recuadro-pilares {
    align-items: center;
    margin: 30px;


    .recuadro-texto {

        font-weight: 400;
        padding: 10px;
        font-family: $tipografia-nunito-sans;
    }

    .card {
        font-size: 18px;
        width: 350px;
        height: 380px;
        border-radius: 25px;
        margin: 20px;
        margin-left: 50px;

    }

    .card-A {
        background-color: $color-green-pastel;
        border-color: $color-green-pastel;
    }

    .card-B {
        background-color: $color-orange-pastel;
        border-color: $color-orange-pastel;

    }

    .card-C {
        background-color: $color-red-pastel;
        border-color: $color-red-pastel;
    }

    .titulo-pilar {
        font-size: 36px;
        font-family: $tipografia-nunito-sans;
        font-weight: 800;
    }

    .titulo-pilar-1 {

        color: $color-green-oscuro;
    }

    .titulo-pilar-2 {
        color: $color-orange-oscuro;
    }

    .titulo-pilar-3 {
        color: $color-red-oscuro;
    }
}

.recuadro-historia {
    background-color: $color-green-oscuro;
    border-radius: 16px;
    max-width: 1280px;

    .recuadro-texto-historia{
        margin: 50px;

        h3 {
            color: $color-white;
        }

        .texto-historia {
            color: $color-white;
            min-width: 100px;

            span {
                color: black;
                font-weight: 600;
                background-color: $color-white;
            }
        }
    
        .boton-default-sin_fondo_invertido {
            padding: 14px 47px;
            border: 3px solid #ffffff;
            border-radius: 100px;
            background-color: transparent;
            font-family: "Poppins";
            color: #ffffff;
            transition: color border 0.5s ease-in-out;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }

    .recuadro-fotos {
        img {
            max-width: 500px;
            border-radius: 16px;
        }
    }

    .recuadro-no-visible {
        .boton-flecha-arriba {
            border: none;
            width: 100%;
            background-color: $color-green-oscuro;

            .img-flecha {
                background-color: $color-green-oscuro;
                width: 25px;
                height: 25px;
            }
        }
    }
}