@import "_coloresyTipografias";


.jumbotron5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/talleres.1.jpg);
    background-size: cover;
    background-position: center;
    height: 494px;

    .cuadro-translucido {
        width: 500px;
        height: 100%;
        background: $color-green-oscuro;
        background: linear-gradient(90deg, rgba(2, 80, 62, 1) 0%, rgba(2, 80, 62, 0.709) 75%);
        text-align: start;
        padding: 88px 32px 88px 82px;

        .titulo-JeA {
            color: $color-white;
            font-size: 64px;
            font-weight: 800;
            font-family: $tipografia-nunito;
            padding-top: 40px;
            margin: 0px;

            strong {
                font-weight: 700;
            }
        }

    }
}
@media only screen and (max-width: 800px) {
    .jumbotron5 {
        height: 240px;

        .cuadro-translucido {
            width: 100%;
            max-width: 800px;
            max-height: 80px;
            translate: 0% 100%;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .titulo-JeA {
                font-size: 28px;
                font-weight: 800;
                padding-top: 0px;
            }

            
        }
    }
}

.cuadro-dividido {
    padding: 80px 80px 60px 80px;
    text-align: center;

    .contenedor-texto {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;

        strong {
            color: $color-green-medio;
        }
    }

    .contenedor-cuadros-divididos {
        border: 2px solid $color-green-medio;
        border-radius: 16px;
        margin-top: 80px;

        button {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            font-family: $tipografia-nunito;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
        }

        .boton-escuelas {
            color: #5BBA47;
            border-bottom: 8px solid #5BBA4790;
        }

        .boton-universidades {
            color: $color-orange-oscuro;
            border-bottom: 8px solid #FAC31390;
        }

        .boton-organizaciones {
            color: $color-red-oscuro;
            border-bottom: 8px solid #ED1C2490;
        }
    }

    #descripcion {
        padding: 48px 109px 58px 109px;

        #contenido {
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 36px;
        }
    }
}

.contenedor-cuadros-textofoto {
    .texto {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        background-color: rgba(250, 195, 19, 0.2);
        padding: 84px 38px 84px 78px;

        p
        strong {
            color: $color-white;
            background-color: $color-orange-oscuro;
        }
    }
    .foto {
        background-image: url(../img/talleres.2.jpg);
        background-size: cover;
    }
}

@media only screen and (max-width: 800px) {
    .jumbotron5 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/talleres.responsive.jpg);
        background-size: cover;
        background-position: center;
        height: 340px;
        
        .cuadro-translucido {
            width: 100%;
            max-width: 800px;
            max-height: 115px;
            translate: 0% 100%;
            padding: 0px;
            margin-left:0.5px ;
            display: flex;
            justify-content: center;
            align-items: center;

            .titulo-talleres {
                line-height: 16px;
                font-size: 26px;
                font-weight: 800;
                padding-top: 0px;
                font-family: $tipografia-nunito;
                color: $color-white;
            }

        }
    }

    .cuadro-dividido {
        padding: 40px;
        text-align: center;
    
        .contenedor-texto {
            p{
                font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            font-family: $tipografia-nunito;
            min-width: 330px;
            height: 160px;
            padding: 20px;
    
            strong {
                color: $color-green-medio;
            }
            }
        }
    
        .contenedor-cuadros-divididos {
            border: 2px solid $color-green-medio;
            border-radius: 16px;
            margin-top: 80px;
    
            button {
                background-color: transparent;
                border: none;
                padding: 0;
                margin: 0;
                cursor: pointer;
                font-family: $tipografia-nunito;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
            }
    
            .boton-escuelas {
                color: #5BBA47;
                border-bottom: 8px solid #5BBA4790;
            }
    
            .boton-universidades {
                color: $color-orange-oscuro;
                border-bottom: 8px solid #FAC31390;
            }
    
            .boton-organizaciones {
                color: $color-red-oscuro;
                border-bottom: 8px solid #ED1C2490;
            }
        }
    
        #descripcion {
            padding: 48px 20px 58px 20px;
    
            #contenido {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    
    .contenedor-cuadros-textofoto {
        
        
        .row{
            display: flex;
                justify-content: center;
                align-items: center;
            .texto {
                order: 2;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                background-color: rgba(250, 195, 19, 0.2);
                padding: 30px;
                min-width: 445px;
                min-height: 160px;
        
                p
                strong {
                    color: $color-white;
                    background-color: $color-orange-oscuro;
                }
            }
            .foto {
                order: 1;
                background-image: url(../img/talleres.2.jpg);
                background-size: cover;

                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                min-width: 445px;
                height: 340px;
            }
        }
    }
}

.no-link {
    text-decoration: none;
}
