$color-fondo-portada: #f8f8f8;
$color-white: #f9f9f9;
$color-black: rgb(10, 10, 10);

$color-green-oscuro: #02503E;
$color-green-medio: #009876;
$color-green-claro: #EDFEFB;
$color-green-pastel: #DBF8D7;
$color-green-pastel-2: #DEF1DA;

$color-red-oscuro: #ED1C24;
$color-red-pastel: #FDE8E9;

$color-yellow-oscuro: #FAC313;

$color-orange-oscuro: #F26123;
$color-orange-pastel: #F6EBC8;
$color-orange-pastel2: #FEF3D0;

$tipografia-poppins: 'Poppins', sans-serif;
$tipografia-nunito: 'Nunito';
$tipografia-nunito-sans: 'Nunito Sans', sans-serif;


.contacto-JeA {
    width: 100%;
    background-color: $color-green-oscuro;
    padding: 80px 0px;

    .div-texto {
        margin: auto;
        max-width: 800px;
        min-height: 80px;


        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            color: $color-green-oscuro;
            padding: 24px 0px;
        }
    }

    .div-iconos {
        margin-top: 55px;

        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            color: white;
            margin: 15px 0px;
        }

        strong {
            font-weight: bold;
        }
    }
}

.contenedor-imagen-formulario {
    padding: 80px;

    .contenedor-imagen {
        background-image: url(../img/contacto.1.jpeg);
        background-size: cover;
        border-radius: 16px;
        max-height: 870px;
        margin-right: 50px;
    }

    .contenedor-formulario {
        margin-left: 50px;

        h2 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            color: $color-green-oscuro;
        }

        p {
            margin-top: 24px;
            margin-bottom: 40px;
        }

        p,
        label {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $color-green-oscuro;
        }

        input,
        textarea {
            background-color: transparent;
            border: 1px solid $color-green-oscuro;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 200;
            font-size: 20px;
            line-height: 27px;
            padding: 14px;
            resize: none; //para bloquear de aumentar tamaño textarea (Mensaje)
        }

        .boton-enviar {
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
            padding: 14px 114px;
            border: 0px;
            border-radius: 100px;
            background-color: #DEF1DA;
            margin-top: 24px;
            color: #02503E;
            font-weight: 600;
        }
    }
}