* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: rgb(159, 14, 96) 2px solid;  */
}

/* navbar */
.cambioPosicion {
  flex-grow: 0;
}
.cambioPosicion .submenu {
  background-color: #EDFEFB;
}

.navbar .iconNav {
  -o-object-fit: contain;
     object-fit: contain;
  width: 70px;
  height: 70px;
}
.navbar .jovenes {
  font-size: 18px;
  margin-bottom: -8px;
}
.navbar .enaccion {
  font-size: 18px;
  margin-top: -8px;
}
.navbar .nav-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.especial {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.nav-color:hover {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.submenu-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.submenu-color:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: #02503E;
  color: #f9f9f9 !important;
}

/* Presentacion portada */
.presentacion {
  width: 100%;
  height: auto;
  text-align: center;
}
.presentacion .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/sobre\ jea.1.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}
.presentacion .jumbotron .titulo1 {
  color: #02503E;
  font-size: 80px;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
}

.relleno {
  background-color: #02503E;
  color: #f9f9f9;
  padding: 0 15px;
}

/* seccion 1 del index - espacio JEA */
.espacio {
  margin: 10px;
}
.espacio .creadoIndex {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  flex-direction: row;
}
.espacio .textoComplemento {
  font-weight: 400;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.espacio .cajaEspacio {
  padding: 40px 20px;
  border-radius: 10px;
  font-size: 25px;
  margin: 20px;
  width: 300px;
  height: 400px;
}
.espacio .rojo {
  border: solid #ED1C24 3px;
}
.espacio .verde {
  border: solid #009876 3px;
}
.espacio .amarillo {
  border: solid #FAC313 3px;
}

.titulo2 {
  color: #009876;
  text-align: center;
  margin-top: 80px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.titulos3 {
  color: #02503E;
  font-size: 36px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.pngEspacio {
  width: 80px;
  height: 80px;
}

/* seccion SINERGIAS */
.contieneVectores {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.contieneVectores .vectores {
  margin: 15px;
}

.contieneImg {
  width: 720px;
  height: 430px;
  background-image: url(../img/sobre\ jea.2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.contieneImg .grupoImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prueb1 {
  /* background-color: #ED1C24; */
  width: 100%;
}

.prueb2 {
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
}

.grupoTexto {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
  letter-spacing: 0.5px;
}

.clickConocenos {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 3px solid #02503E;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.clickConocenos:hover {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 4px solid #02503E;
  font-size: 26px;
}

.divBoton {
  width: 100px;
}

.recuadroVerde {
  background-color: #02503E;
  width: 1276px;
  height: 730px;
  padding-top: 10px;
  margin: 80px 0;
  border-radius: 25px;
}
.recuadroVerde .recuadroTexto {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.recuadroVerde .card {
  width: 350px;
  height: 380px;
  border-radius: 25px;
  margin: 20px;
}
.recuadroVerde .card1 {
  background-color: #F6EBC8;
}
.recuadroVerde .card2 {
  background-color: #DBF8D7;
}
.recuadroVerde .card3 {
  background-color: #FDE8E9;
}

.clickNegativo {
  background-color: #02503E;
  color: #f9f9f9;
  border: 3px solid #f9f9f9;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.clickNegativo:hover {
  border: 3px solid #f9f9f9;
  font-size: 26px;
  color: #f9f9f9;
  transition: 0.7s;
}

.color1 {
  color: #F26123;
}

.color2 {
  color: #02503E;
}

.color3 {
  color: #ED1C24;
}

.ancho {
  height: 100px;
}

.tituloNegativo {
  color: #f9f9f9;
  text-align: center;
  margin: 50px 0px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.clickPositivo {
  background-color: #DBF8D7;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.clickPositivo:hover {
  border: 3px solid #DBF8D7;
  background-color: #DBF8D7;
  font-size: 24px;
  color: rgb(10, 10, 10);
}

.titulo4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
}

.divContactanos {
  margin-bottom: 50px;
  width: 100%;
}

/* footer */
.col-footer, .col-footer-img {
  text-align: start;
}
.col-footer .pngEspacio, .col-footer-img .pngEspacio {
  width: 80px;
  height: 80px;
}
.col-footer .titulo5, .col-footer-img .titulo5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.col-footer .letraFooter, .col-footer-img .letraFooter {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.col-footer .imgFooter svg, .col-footer-img .imgFooter svg {
  margin: 0px 10px;
}

a .pngEspacio {
  width: 90px;
  height: 90px;
}

/* .titulo5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.letraFooter{
    font-family: 'Poppins', sans-serif;

    font-size: 12px;
} */
/* jovenes inspiradores */
.jumbotron2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Jovenes_que_inspiran.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron2 .cuadroJovenes {
  width: 430px;
  height: 391px;
  background: rgb(2, 80, 62);
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(0, 0, 0, 0.7092086835) 75%);
}
.jumbotron2 .cuadroJovenes .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 40px;
}
.jumbotron2 .cuadroJovenes .inspiran {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.contieneTitulo {
  margin: 0px 150px;
  margin-top: 50px;
}
.contieneTitulo .titulo {
  color: #02503E;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 20px;
  margin: 20px 30px;
}

.colorVector {
  background-color: #f9f9f9;
}

.clickBtnVerde {
  background-color: #f9f9f9;
  border: 3px solid #02503E;
  border-radius: 25px;
  color: #02503E;
  padding: 5px 60px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.inspiCard {
  padding: 10px;
  margin: 10px;
}

.contieneTarj {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* hover */
.photo {
  width: 200px;
  height: 250px;
  border: 2px solid red;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo .imgtarj {
  width: 100%;
}

.jumbotron5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/talleres.1.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron5 .cuadroColaboraciones {
  max-width: 430px;
  height: 391px;
  background: #02503E;
  background: linear-gradient(90deg, #02503E 0%, rgba(0, 0, 0, 0.7092086835) 75%);
  text-align: start;
}
.jumbotron5 .cuadroColaboraciones .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  margin: 0px 50px;
}
.jumbotron5 .cuadroColaboraciones .titulo1b {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.cuadro-dividido {
  padding: 80px 80px 60px 80px;
  text-align: center;
}
.cuadro-dividido .contenedor-texto {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.cuadro-dividido .contenedor-texto strong {
  color: #009876;
}
.cuadro-dividido .contenedor-cuadros-divididos {
  border: 2px solid #009876;
  border-radius: 16px;
  margin-top: 80px;
}
.cuadro-dividido .contenedor-cuadros-divididos button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-escuelas {
  color: #5BBA47;
  border-bottom: 8px solid rgba(91, 186, 71, 0.5647058824);
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-universidades {
  color: #F26123;
  border-bottom: 8px solid rgba(250, 195, 19, 0.5647058824);
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-organizaciones {
  color: #ED1C24;
  border-bottom: 8px solid rgba(237, 28, 36, 0.5647058824);
}
.cuadro-dividido #descripcion {
  padding: 48px 109px 58px 109px;
}
.cuadro-dividido #descripcion #contenido {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.contenedor-cuadros-textofoto .texto {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  background-color: rgba(250, 195, 19, 0.2);
  padding: 84px 38px 84px 78px;
}
.contenedor-cuadros-textofoto .texto p strong {
  color: #f9f9f9;
  background-color: #F26123;
}
.contenedor-cuadros-textofoto .foto {
  background-image: url(../img/talleres.2.jpg);
  background-size: cover;
}

.pregunta {
  padding-top: 62px;
}
.pregunta .pregunta-preboton {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.pregunta .boton-pregunta {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  padding: 14px 80px;
  border: 0px;
  border-radius: 100px;
  background-color: #DBF8D7;
  margin: 24px 0 92px 0;
  color: #02503E;
  font-weight: 600;
}

.jumbotron4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/colaboraciones.1.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron4 .cuadroColaboraciones {
  max-width: 430px;
  height: 391px;
  background: #02503E;
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(0, 0, 0, 0.7092086835) 75%);
  text-align: start;
}
.jumbotron4 .cuadroColaboraciones .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  padding-top: 40px;
}
.jumbotron4 .cuadroColaboraciones .titulo1b {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.seccion-cuadro-dividido .cuadro-dividido {
  position: relative;
  margin: 80px 82px 24px 82px;
}
.seccion-cuadro-dividido .cuadro-dividido .cuadro-izq {
  background-color: #DBF8D7;
  color: #02503E;
  padding: 48px 120px 48px 48px;
  text-align: end;
  border-radius: 30px 0px 0px 30px;
}
.seccion-cuadro-dividido .cuadro-dividido .cuadro-der {
  background-color: #02503E;
  color: #EDFEFB;
  padding: 48px 48px 48px 120px;
  text-align: start;
  border-radius: 0px 30px 30px 0px;
}
.seccion-cuadro-dividido .cuadro-dividido .texto-grande {
  font-size: 48px;
  letter-spacing: 0.02em;
  line-height: 32px;
}
.seccion-cuadro-dividido .cuadro-dividido .texto-chico {
  font-size: 24px;
  letter-spacing: 0.02rem;
  line-height: 32px;
}
.seccion-cuadro-dividido .cuadro-dividido .cuadro-imagen {
  background-color: #f9f9f9;
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.seccion-cuadro-dividido .texto-debajo-cuadros {
  text-align: center;
  font-size: 32px;
  color: #02503E;
  margin-bottom: 48px;
  line-height: 44px;
}

.seccion-cuadro-grande-dividido {
  background-color: #02503E;
}
.seccion-cuadro-grande-dividido .cuadros-grandes-divididos {
  padding: 80px 81px 70px 81px;
}
.seccion-cuadro-grande-dividido .cuadros-grandes-divididos .cuadro-grande-izq {
  width: 630px;
  height: 660px;
  background-color: #DBF8D7;
  border-radius: 30px 0px 0px 30px;
  background-image: url(../img/iconos-colaboraciones.png);
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.seccion-cuadro-grande-dividido .cuadros-grandes-divididos .cuadro-grande-der {
  background-image: url(../img/colaboraciones.2.jpg);
  background-size: cover;
  border-radius: 0px 30px 30px 0px;
}

.pregunta {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  padding: 80px 0px;
}
.pregunta .boton-pregunta {
  padding: 14px 80px;
  border: 0px;
  border-radius: 100px;
  background-color: #DBF8D7;
  margin: 0px 24px;
  color: #02503E;
  font-weight: 600;
}

.jumbotron3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/organizaciones.1.png);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron3 .cuadroJovenes {
  width: 430px;
  height: 391px;
  background: rgb(2, 80, 62);
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(0, 0, 0, 0.7092086835) 75%);
  text-align: start;
}
.jumbotron3 .cuadroJovenes .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  padding-top: 40px;
}
.jumbotron3 .cuadroJovenes .inspiran {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.descripcion {
  text-align: center;
  font-size: 24px;
  font-family: "Nunito";
  padding: 90px 0px;
  background-color: #EDFEFB;
}
.descripcion h3 {
  color: #02503E;
}

.seccion-tarjetas .contenedor-tarjetas {
  margin: 80px 0px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #ED1C24;
  background-color: #ED1C24;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta .texto-resaltado {
  color: #ED1C24;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta-imagen {
  background-color: #FDE8E9;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta-descripcion {
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover {
  border: 4px solid #ED1C24;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #10936E;
  background-color: #10936E;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta .texto-resaltado {
  color: #10936E;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta-imagen {
  background-color: #DEF1DA;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta-descripcion {
  background-color: #10936E;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover {
  border: 4px solid #10936E;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #FAC313;
  background-color: #F26123;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta .texto-resaltado {
  color: #F26123;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta-imagen {
  background-color: #FEF3D0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta-descripcion {
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover {
  border: 4px solid #F26123;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #FAC313;
  background-color: #F26123;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta .texto-resaltado {
  color: #F26123;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta-imagen {
  background-color: #FEF3D0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta-descripcion {
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover {
  border: 4px solid #F26123;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #ED1C24;
  background-color: #ED1C24;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta .texto-resaltado {
  color: #ED1C24;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta-imagen {
  background-color: #FDE8E9;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta-descripcion {
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover {
  border: 4px solid #ED1C24;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover .tarjeta-descripcion {
  opacity: 1;
}

.carrusel-div {
  background-color: #f9f9f9;
  position: relative;
  padding: 40px 80px;
}
.carrusel-div .carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: 90%;
}
.carrusel-div .carrusel .elemento {
  flex: 1 0 auto;
  margin: 0 10px;
  background-color: #ED1C24;
  border-radius: 16px;
  width: 300px;
  height: 200px;
}
.carrusel-div .carrusel::-webkit-scrollbar {
  height: 0px;
}
.carrusel-div .flecha-izquierda svg {
  position: absolute;
  top: 50%;
  left: 4rem;
  cursor: pointer;
}
.carrusel-div .flecha-derecha svg {
  position: absolute;
  top: 50%;
  right: 4rem;
  cursor: pointer;
}

body {
  background-color: #f8f8f8;
}

header {
  background-color: #EDFEFB !important;
}/*# sourceMappingURL=estilos.css.map */