*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif,'Poppins', sans-serif;
    
    border: coral 2px solid;
}

@import "_navbar";
@import "_index";
@import "_footer";
@import "_jovenesInspiradores";



body{
    background-color: #f9f9f9;
}
header{
    background-color: #EDFEFB !important;
}
