* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif; */

    /* border: coral 2px solid; */
}

body {
    background-color: #f9f9f9;
}

header {
    background-color: #EDFEFB !important;
}

/* navbar */

.navbar {
    .col {
        padding: 5px;
    }

    .iconNav {
        object-fit: contain;
        width: 70px;
        height: 70px;
    }

    .jovenes {
        font-size: 18px;
        margin-bottom: -8px;
    }

    .enaccion {
        font-size: 18px;
        margin-top: -8px;
    }

    .nav-link {
        color: #02503E;
        font-family: 'Poppins', sans-serif;
    }

    .cambioPosicion {
        flex-grow: 0;

        .submenu {
            background-color: #EDFEFB;
        }
    }
}



/* Presentacion portada */
.presentacion {
    width: 100%;
    height: auto;
    text-align: center;

    .jumbotron {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/img/sobre\ jea.1.jpg);
        background-size: cover;
        background-position: center;
        height: 600px;

        .titulo1 {
            color: #009876;
            font-size: 80px;
            font-weight: bold;
            font-family: 'Nunito Sans', sans-serif;


        }
    }

}

.relleno {
    background-color: #02503E;
    color: #f9f9f9;
    padding: 0 15px;
}


/* seccion 1 del index - espacio JEA */
.espacio {
    margin: 10px;



    .creadoIndex {
        display: flex;
        /* justify-content: space-evenly; */
        justify-content: center;
        margin-top: 40px;
        text-align: center;
        flex-direction: row;

    }

    .textoComplemento {
        font-weight: 400;
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .cajaEspacio {
        padding: 40px 20px;
        border-radius: 10px;
        font-size: 25px;
        margin: 20px;
        width: 300px;
        height: 400px;
    }

    .rojo {
        border: solid #ED1C24 3px;
    }

    .verde {
        border: solid #009876 3px;
    }

    .amarillo {
        border: solid #FAC313 3px;
    }


}

.titulo2 {
    color: #009876;
    text-align: center;
    margin-top: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.titulos3 {
    color: #02503E;
    font-size: 36px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.pngEspacio {
    width: 80px;
    height: 80px;
}




/* seccion SINERGIAS */
.contieneVectores {
    display: flex;
    justify-content: center;
    margin: 40px 0px;

    .vectores {
        margin: 15px;
    }

}


.contieneImg {
    width: 720px;
    height: 430px;
    background-image: url(../img/sobre\ jea.2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;

    .grupoImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}


.prueb1 {
    /* background-color: #ED1C24; */
    width: 100%;

}

.prueb2 {
    /* background-color: blueviolet; */
    width: 100%;
    height: 100%;
}

.grupoTexto {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.clickConocenos {
    background-color: white;
    color: black;
    border: 3px solid #009876;
    border-radius: 20px;
    padding: 5px 40px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.divBoton {
    width: 100px;
    ;
}

.recuadroVerde {
    background-color: #02503E;
    width: 1276px;
    height: 730px;
    padding-top: 10px;
    margin: 80px 0;
    border-radius: 25px;

    .recuadroTexto {
        font-size: 20px;
        font-weight: 400;
        padding: 10px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .card {
        width: 350px;
        height: 380px;
        border-radius: 15px;
        margin: 20px;
    }

    .card1 {
        background-color: #F6EBC8;
    }

    .card2 {
        background-color: #DBF8D7;
    }

    .card3 {
        background-color: #FDE8E9;
    }
}



.card {
    width: 340px;
    height: 380px;
    border-radius: 15px;

}

.card1 {
    background-color: #F6EBC8;
}

.card2 {
    background-color: #DBF8D7;
}

.card3 {
    background-color: #FDE8E9;
}

.clickNegativo {
    background-color: #0000;
    color: #f9f9f9;
    border: 3px solid #f9f9f9;
    border-radius: 20px;
    padding: 5px 40px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.color1 {
    color: #F26123;
}

.color2 {
    color: #02503E;
}

.color3 {
    color: #ED1C24;
}

.ancho {
    height: 100px;
}

.tituloNegativo {
    color: #f9f9f9;
    text-align: center;
    margin: 50px 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.clickPositivo {
    background-color: #DBF8D7;
    border-radius: 20px;
    padding: 5px 40px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.titulo4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
}

.divContactanos {
    margin-bottom: 50px;
}

/* footer */
.col-footer, .col-footer-img {
    text-align: start;

    .titulo5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 22px;
    }

    .letraFooter {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }

    .imgFooter {
        svg {
            margin:0px 10px;
        }
    }
}


/* jovenes inspiradores */

.jumbotron2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Jovenes_que_inspiran.jpg);
    background-size: cover;
    background-position: center;
    height: 390px;

    .cuadroJovenes {
        width: 430px;
        height: 391px;
        background: rgb(2, 80, 62);
        background: linear-gradient(90deg, rgba(2, 80, 62, 1) 0%, rgba(0, 0, 0, 0.7092086834733893) 75%);

        .titulo1 {
            color: #ffffff;
            font-size: 60px;
            font-weight: 700;
            font-family: 'Nunito';
            padding-top: 40px;
        }

        .inspiran {
            color: #ffffff;
            font-size: 30px;
            font-weight: 200;
            font-family: 'Nunito Sans', sans-serif;
        }
    }
}

.contieneTitulo {
    margin: 0px 150px;
    margin-top: 50px;

    .titulo {
        color: #02503E;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.02em;
        padding: 20px;
        margin: 20px 30px;
    }
}

.colorVector {
    background-color: #EDFEFB;

}

.clickBtnVerde {
    background-color: #EDFEFB;
    border: 3px solid #02503E;
    border-radius: 25px;
    color: #02503E;
    padding: 5px 60px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins';
}

.imgTarj {
    width: 300px;
    height: 400px;


    img {
        width: 300px;
        height: 450px;
        border-radius: 25px;
    }
}