* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: rgb(159, 14, 96) 2px solid; */
}

/* navbar */
.cambioPosicion {
  flex-grow: 0;
}
.cambioPosicion .submenu {
  background-color: #EDFEFB;
}

.nombre {
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(10, 10, 10);
}

.iconNav {
  width: 70px;
  height: 70px;
}

.nav-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.especial {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.nav-color:hover {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.submenu-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.submenu-color:hover {
  font-weight: bold;
  font-size: 18px;
  background-color: #02503E;
  color: #f9f9f9 !important;
}

/* Presentacion portada */
.presentacion {
  width: 100%;
  height: auto;
  text-align: center;
}
.presentacion .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/sobre\ jea.1.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}
.presentacion .jumbotron .titulo1 {
  color: #02503E;
  font-size: 80px;
  font-weight: 800;
  font-family: "Nunito";
  font-style: normal;
}

.relleno {
  background-color: #02503E;
  color: #f9f9f9;
  padding: 0 15px;
}

/* seccion 1 del index - espacio JEA */
.espacio {
  margin: 10px;
}
.espacio .creadoIndex {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  flex-direction: row;
}
.espacio .textoComplemento {
  font-weight: 400;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.espacio .cajaEspacio {
  padding: 40px 20px;
  border-radius: 10px;
  font-size: 25px;
  margin: 20px;
  width: 300px;
  height: 400px;
}
.espacio .rojo {
  border: solid #ED1C24 3px;
}
.espacio .verde {
  border: solid #009876 3px;
}
.espacio .amarillo {
  border: solid #FAC313 3px;
}

.titulo2 {
  color: #009876;
  text-align: center;
  margin-top: 80px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.titulos3 {
  color: #02503E;
  font-size: 36px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.pngEspacio {
  width: 80px;
  height: 80px;
}

/* seccion SINERGIAS */
.contieneVectores {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.contieneVectores .vectores {
  margin: 15px;
}

.contieneImg {
  width: 720px;
  height: 430px;
  background-image: url(../img/sobre\ jea.2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.contieneImg .grupoImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prueb1 {
  /* background-color: #ED1C24; */
  width: 100%;
}

.prueb2 {
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
}

.grupoTexto {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
}

.clickConocenos {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 3px solid #02503E;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.clickConocenos:hover {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 4px solid #02503E;
  font-size: 26px;
}

.divBoton {
  width: 100px;
}

.recuadroVerde {
  background-color: #02503E;
  width: 1276px;
  height: 730px;
  padding-top: 10px;
  margin: 80px 0;
  border-radius: 25px;
}
.recuadroVerde .recuadroTexto {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.recuadroVerde .card {
  width: 350px;
  height: 380px;
  border-radius: 25px;
  margin: 20px;
}
.recuadroVerde .card1 {
  background-color: #F6EBC8;
}
.recuadroVerde .card2 {
  background-color: #DBF8D7;
}
.recuadroVerde .card3 {
  background-color: #FDE8E9;
}

/* .card{
    width: 340px;
    height: 380px;
    border-radius: 15px;

}
.card1{
    background-color: #F6EBC8;
}
.card2{
    background-color: #DBF8D7;
}
.card3{
    background-color: #FDE8E9; 
} */
.clickNegativo {
  background-color: #02503E;
  color: #f9f9f9;
  border: 3px solid #f9f9f9;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.clickNegativo:hover {
  border: 5px solid #f9f9f9;
  font-size: 26px;
  color: #f9f9f9;
}

.color1 {
  color: #F26123;
}

.color2 {
  color: #02503E;
}

.color3 {
  color: #ED1C24;
}

.ancho {
  height: 100px;
}

.tituloNegativo {
  color: #f9f9f9;
  text-align: center;
  margin: 50px 0px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.clickPositivo {
  background-color: #DBF8D7;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.clickPositivo:hover {
  border: 3px solid #DBF8D7;
  background-color: #DBF8D7;
  font-size: 24px;
  color: rgb(10, 10, 10);
}

.titulo4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
}

.divContactanos {
  margin-bottom: 50px;
  width: 100%;
}

/* footer */
.titulo5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.letraFooter {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

/* jovenes inspiradores */
.jumbotron2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Jovenes_que_inspiran.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron2 .cuadroJovenes {
  width: 430px;
  height: 391px;
  background: rgb(2, 80, 62);
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(0, 0, 0, 0.7092086835) 75%);
}
.jumbotron2 .cuadroJovenes .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 40px;
}
.jumbotron2 .cuadroJovenes .inspiran {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.contieneTitulo {
  margin: 0px 150px;
  margin-top: 50px;
}
.contieneTitulo .titulo {
  color: #02503E;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 20px;
  margin: 20px 30px;
}

.colorVector {
  background-color: #f9f9f9;
}

.clickBtnVerde {
  background-color: #f9f9f9;
  border: 3px solid #02503E;
  border-radius: 25px;
  color: #02503E;
  padding: 5px 60px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.inspiCard {
  padding: 10px;
  margin: 10px;
}

.contieneTarj {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Rectangle 158 */
body {
  background-color: #f8f8f8;
}

header {
  background-color: #EDFEFB !important;
}/*# sourceMappingURL=estilos.css.map */