* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.cambio-posicion-nav {
  flex-grow: 0;
}
.cambio-posicion-nav .submenu {
  background-color: #EDFEFB;
}

.navbar .icono-nav {
  object-fit: contain;
  width: 70px;
  height: 70px;
}
.navbar .jovenes {
  font-size: 18px;
  margin-bottom: -8px;
}
.navbar .enaccion {
  font-size: 18px;
  margin-top: -8px;
}
.navbar .nav-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
@media only screen and (min-width: 992px) and (max-width: 1012px) {
  .navbar .nav-link {
    font-size: 14px;
  }
}

.especial {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.nav-color:hover {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.submenu-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.submenu-color:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: #02503E;
  color: #f9f9f9 !important;
}

/* footer */
footer .logo-footer {
  width: 100px;
  height: 100px;
}
footer .col-footer, footer .col-footer-img {
  text-align: start;
}
footer .col-footer .titulo5, footer .col-footer-img .titulo5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
footer .col-footer .letra-footer, footer .col-footer-img .letra-footer {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
footer .col-footer .imagen-footer .enlace-imagen-footer, footer .col-footer-img .imagen-footer .enlace-imagen-footer {
  text-decoration: none;
}
footer .col-footer .imagen-footer .enlace-imagen-footer .logo-tiktok, footer .col-footer-img .imagen-footer .enlace-imagen-footer .logo-tiktok {
  margin-right: 8px;
  width: 24px;
}
footer .col-footer .imagen-footer .enlace-imagen-footer .logo-instagram, footer .col-footer-img .imagen-footer .enlace-imagen-footer .logo-instagram {
  width: 30px;
}
footer .col-footer .imagen-footer .enlace-imagen-footer .logo-linkedin, footer .col-footer-img .imagen-footer .enlace-imagen-footer .logo-linkedin {
  width: 50px;
}
@media only screen and (max-width: 1000px) {
  footer .logo-footer {
    width: 60px;
    height: 60px;
  }
  footer .col-footer .titulo5, footer .col-footer-img .titulo5 {
    font-size: 12px;
  }
  footer .col-footer .letra-footer, footer .col-footer-img .letra-footer {
    font-size: 10px;
  }
  footer .col-footer-img .imagen-footer .logo-tiktok {
    margin-right: 7px !important;
    width: 16px !important;
  }
  footer .col-footer-img .imagen-footer .logo-instagram {
    width: 18px !important;
  }
  footer .col-footer-img .imagen-footer .logo-linkedin {
    width: 32px !important;
  }
}
@media only screen and (max-width: 423px) {
  footer .col-footer-img .imagen-footer .logo-tiktok {
    margin-left: 5px;
  }
  footer .col-footer-img .imagen-footer .logo-linkedin {
    margin-top: 5px;
  }
}

.boton-conocenos {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 3px solid #02503E;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.boton-conocenos:hover {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 3px solid #02503E;
  cursor: pointer;
}

.clickPositivo {
  background-color: #DBF8D7;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 800px) {
  .clickPositivo {
    font-size: 16px;
  }
}

.clickPositivo:hover {
  background-color: #DBF8D7;
  color: rgb(10, 10, 10);
  cursor: pointer;
}

.boton-negativo {
  background-color: #02503E;
  color: #f9f9f9;
  border: 3px solid #f9f9f9;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.boton-negativo:hover {
  border: 3px solid #f9f9f9;
  font-size: 24px;
  color: #f9f9f9;
  cursor: pointer;
}

.boton-default {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  width: 280px;
  height: 60px;
  padding: auto;
  border-radius: 100px;
  margin-top: 24px;
  font-weight: 600;
}
@media only screen and (max-width: 955px) {
  .boton-default {
    font-size: 14px;
    width: 152px;
    height: 32px;
  }
}

.boton-default-basico {
  border: 0px;
  background-color: #DEF1DA;
  color: #02503E;
}

.boton-default-sin_fondo-invertido {
  border: 3px solid #f9f9f9;
  background-color: transparent;
  color: #f9f9f9;
}
@media only screen and (max-width: 855px) {
  .boton-default-sin_fondo-invertido {
    display: none;
  }
}

.boton-default-sin_fondo {
  border: 3px solid #02503E;
  background-color: transparent;
  color: #02503E;
  transition: color border 0.5s ease-in-out;
}

.boton-programas {
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 140px;
  height: 40px;
  border-radius: 100px;
  color: #02503E;
  border: 2px solid #02503E;
  margin: 15px;
}
@media only screen and (max-width: 767px) {
  .boton-programas {
    width: 140px;
    height: 32px;
    font-size: 16px;
  }
}

.boton-banderas {
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 160px;
  height: 40px;
  border-radius: 100px;
  color: #02503E;
  border: 2px solid #02503E;
  margin-top: 15px;
}
@media only screen and (min-width: 360px) and (max-width: 1023px) {
  .boton-banderas {
    width: 140px;
    height: 35px;
    font-size: 17px;
  }
}

.boton-banderas:hover {
  border: 2px solid #F26123;
  background-color: #F26123;
  color: white;
}

.pregunta {
  padding: 80px 0px;
}
.pregunta .pregunta-preboton {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 955px) {
  .pregunta .pregunta-preboton {
    font-size: 16px;
  }
}

body {
  background-color: #f8f8f8;
}

header {
  background-color: #EDFEFB !important;
}

/*# sourceMappingURL=estilosGenerales.css.map */
