*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
     /* border: rgb(159, 14, 96) 2px solid; */ 
}

@import "_navbar";
@import "_index";
@import "_footer";
@import "_jovenesInspiradores";
@import "_coloresyTipografias";
@import "_talleres";
@import "_colaboraciones";
@import "_organizaciones";
@import "_contacto";
@import "_oportunidades";
@import "_botones";
@import "_quienessomos";

body{
    background-color: $color-fondo-portada;
}
header{
    background-color:$color-green-claro !important;
}
