@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: rgb(159, 14, 96) 2px solid; */
}

/* navbar */
.cambio-posicion-nav {
  flex-grow: 0;
}
.cambio-posicion-nav .submenu {
  background-color: #EDFEFB;
}

.navbar .icono-nav {
  object-fit: contain;
  width: 70px;
  height: 70px;
}
.navbar .jovenes {
  font-size: 18px;
  margin-bottom: -8px;
}
.navbar .enaccion {
  font-size: 18px;
  margin-top: -8px;
}
.navbar .nav-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.especial {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.nav-color:hover {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid #02503E;
  padding-bottom: 3px;
}

.submenu-color {
  color: #02503E !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.submenu-color:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: #02503E;
  color: #f9f9f9 !important;
}

/* Presentacion portada */
.presentacion {
  width: 100%;
  height: auto;
  text-align: center;
}
.presentacion .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/sobre\ jea.1.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}
.presentacion .jumbotron .titulo1 {
  color: #02503E;
  font-size: 80px;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
}

.relleno {
  background-color: #02503E;
  color: #f9f9f9;
  padding: 0 15px;
}

/* seccion 1 del index - espacio JEA */
.espacio {
  margin: 10px;
}
.espacio .objetivos-div {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  flex-direction: row;
}
.espacio .texto-complemento-objetivos {
  font-weight: 400;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}
.espacio .caja-objetivo {
  padding: 40px 20px;
  border-radius: 10px;
  font-size: 25px;
  margin: 20px;
  width: 300px;
  height: 400px;
}
.espacio .rojo {
  border: solid #ED1C24 3px;
}
.espacio .verde {
  border: solid #009876 3px;
}
.espacio .amarillo {
  border: solid #FAC313 3px;
}

.titulo2 {
  color: #009876;
  text-align: center;
  margin-top: 80px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.titulos3 {
  color: #02503E;
  font-size: 36px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.imagen-default {
  width: 80px;
  height: 80px;
}

/* seccion SINERGIAS */
.contenedor-vectores {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.contenedor-vectores .vectores {
  margin: 15px;
}

.img-conocer-jea {
  width: 720px;
  height: 430px;
  background-image: url(../img/sobre\ jea.2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.img-conocer-jea .grupoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prueb1 {
  /* background-color: #ED1C24; */
  width: 100%;
}

.prueb2 {
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
}

.grupo-texto-sobre-jea {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
  letter-spacing: 0.5px;
}

.boton-conocenos {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 3px solid #02503E;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.boton-conocenos:hover {
  background-color: #f9f9f9;
  color: rgb(10, 10, 10);
  border: 4px solid #02503E;
  font-size: 26px;
}

.recuadro-verde {
  background-color: #02503E;
  width: 1276px;
  height: 730px;
  padding-top: 10px;
  margin: 80px 0;
  border-radius: 25px;
}
.recuadro-verde .recuadro-texto {
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.recuadro-verde .card {
  font-weight: 400;
  font-size: 20px;
  width: 350px;
  height: 380px;
  border-radius: 25px;
  margin: 20px;
}
.recuadro-verde .card1 {
  background-color: #F6EBC8;
}
.recuadro-verde .card2 {
  background-color: #DBF8D7;
}
.recuadro-verde .card3 {
  background-color: #FDE8E9;
}

.boton-negativo {
  background-color: #02503E;
  color: #f9f9f9;
  border: 3px solid #f9f9f9;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.boton-negativo:hover {
  border: 3px solid #f9f9f9;
  font-size: 26px;
  color: #f9f9f9;
  transition: 0.7s;
}

.color1 {
  color: #F26123;
}

.color2 {
  color: #02503E;
}

.color3 {
  color: #ED1C24;
}

.ancho {
  height: 100px;
}

.titulo-negativo {
  color: #f9f9f9;
  text-align: center;
  margin: 50px 0px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.titulo4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
}

.div-contactanos {
  margin-bottom: 50px;
  width: 100%;
}

/* footer */
footer .logo-footer {
  width: 100px;
  height: 100px;
}
footer .col-footer, footer .col-footer-img {
  text-align: start;
}
footer .col-footer .titulo5, footer .col-footer-img .titulo5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
footer .col-footer .letra-footer, footer .col-footer-img .letra-footer {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
footer .col-footer .imagen-footer .enlace-imagen-footer, footer .col-footer-img .imagen-footer .enlace-imagen-footer {
  text-decoration: none;
}
footer .col-footer .imagen-footer svg, footer .col-footer-img .imagen-footer svg {
  margin: 0px 4px;
}
@media only screen and (max-width: 1000px) {
  footer .logo-footer {
    width: 60px;
    height: 60px;
  }
  footer .col-footer .titulo5, footer .col-footer-img .titulo5 {
    font-size: 12px;
  }
  footer .col-footer .letra-footer, footer .col-footer-img .letra-footer {
    font-size: 10px;
  }
  footer .col-footer-img .imagen-footer svg {
    width: 16px;
  }
}

/* a .imagen-default{
    width: 90px;
    height: 90px;
} */
/* .titulo5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.letra-footer{
    font-family: 'Poppins', sans-serif;

    font-size: 12px;
} */
/* jovenes inspiradores */
.jumbotron2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Jovenes_que_inspiran.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron2 .cuadro-translucido {
  width: 430px;
  height: 391px;
  background: rgb(2, 80, 62);
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(2, 80, 62, 0.709) 75%);
  text-align: start;
}
.jumbotron2 .cuadro-translucido .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  padding-top: 40px;
}
.jumbotron2 .cuadro-translucido .inspiran {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.contenedor-titulo {
  margin: 0px 150px;
  margin-top: 50px;
}
.contenedor-titulo .titulo {
  max-width: 844px;
  color: #02503E;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 20px;
  margin: 20px 30px;
}

.color-bg-vector {
  background-color: #EDFEFB;
  padding: 32px 82px;
}

.boton-default-sin_fondo {
  padding: 14px 47px;
  border: 3px solid #02503E;
  border-radius: 100px;
  background-color: transparent;
  font-family: "Poppins";
  color: #02503E;
  transition: color border 0.5s ease-in-out;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
}

.contenedor-tarjetas {
  max-width: 1440px;
  margin: auto;
}
.contenedor-tarjetas .div-tarjetas-margin {
  margin: 30px 50px;
}
.contenedor-tarjetas .col-sm-6 {
  padding: 0px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq {
  height: 477px;
  border-radius: 30px 0px 0px 30px;
  padding: 32px;
  margin: 10px;
  background-color: #FDE8E9;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq .imagen-tarjeta-1 {
  height: 300px;
  width: 325px;
  background-image: url("../img/Viviane Ogou.png");
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  position: relative;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq .tarjeta-descripcion {
  color: white;
  border-radius: 20px 0px 0px 20px;
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  padding: 50px 25px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq .tarjeta-descripcion .texto-resaltado {
  font-weight: 600;
  background-color: white;
  color: #ED1C24;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq .row .div-dialogo-joven {
  color: #ED1C24;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq .row .div-dialogo-joven .dialogo-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq .div-descripcion-logo {
  margin-top: 32px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq .div-descripcion-logo .descripcion-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq:hover .tarjeta-descripcion {
  opacity: 1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-izq:hover .imagen-default {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der {
  height: 477px;
  border-radius: 0px 30px 30px 0px;
  padding: 32px 34px 32px 32px;
  margin: 10px;
  background-color: #DBF8D7;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der .imagen-tarjeta-2 {
  height: 300px;
  width: 325px;
  background-image: url("../img/Eyal Weintraub.png");
  background-size: cover;
  border-radius: 0px 20px 20px 0px;
  position: relative;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der .tarjeta-descripcion {
  color: white;
  border-radius: 0px 20px 20px 0px;
  background-color: #02503E;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  padding: 60px 30px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der .tarjeta-descripcion .texto-resaltado {
  font-weight: 700;
  background-color: white;
  color: #02503E;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der .row .div-dialogo-joven {
  color: #02503E;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der .row .div-dialogo-joven .dialogo-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der .div-descripcion-logo {
  margin-top: 32px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der .div-descripcion-logo .descripcion-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der:hover .tarjeta-descripcion {
  opacity: 1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-1-der:hover .imagen-default {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq {
  height: 477px;
  border-radius: 30px 0px 0px 30px;
  padding: 32px;
  margin: 10px;
  background-color: #F6EBC8;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq .imagen-tarjeta-1 {
  height: 300px;
  width: 325px;
  background-image: url("../img/Yael Crupnicoff.png");
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  position: relative;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq .tarjeta-descripcion {
  color: white;
  border-radius: 20px 0px 0px 20px;
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  padding: 50px 25px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq .tarjeta-descripcion .texto-resaltado {
  font-weight: 600;
  background-color: white;
  color: #F26123;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq .row .div-dialogo-joven {
  color: #F26123;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq .row .div-dialogo-joven .dialogo-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq .div-descripcion-logo {
  margin-top: 32px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq .div-descripcion-logo .descripcion-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq:hover .tarjeta-descripcion {
  opacity: 1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-izq:hover .imagen-default {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der {
  height: 477px;
  border-radius: 0px 30px 30px 0px;
  padding: 32px 34px 32px 32px;
  margin: 10px;
  background-color: #FDE8E9;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der .imagen-tarjeta-2 {
  height: 300px;
  width: 325px;
  background-image: url("../img/Luisa Romero.png");
  background-size: cover;
  border-radius: 0px 20px 20px 0px;
  position: relative;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der .tarjeta-descripcion {
  color: white;
  border-radius: 0px 20px 20px 0px;
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  padding: 60px 30px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der .tarjeta-descripcion .texto-resaltado {
  font-weight: 700;
  background-color: white;
  color: #ED1C24;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der .row .div-dialogo-joven {
  color: #ED1C24;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der .row .div-dialogo-joven .dialogo-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der .div-descripcion-logo {
  margin-top: 32px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der .div-descripcion-logo .descripcion-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der:hover .tarjeta-descripcion {
  opacity: 1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-2-der:hover .imagen-default {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq {
  height: 477px;
  border-radius: 30px 0px 0px 30px;
  padding: 32px;
  margin: 10px;
  background-color: #DBF8D7;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq .imagen-tarjeta-1 {
  height: 300px;
  width: 325px;
  background-image: url("../img/Álvaro Carrasco.png");
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  position: relative;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq .tarjeta-descripcion {
  color: white;
  border-radius: 20px 0px 0px 20px;
  background-color: #02503E;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  padding: 50px 25px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq .tarjeta-descripcion .texto-resaltado {
  font-weight: 600;
  background-color: white;
  color: #02503E;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq .row .div-dialogo-joven {
  color: #02503E;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq .row .div-dialogo-joven .dialogo-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq .div-descripcion-logo {
  margin-top: 32px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq .div-descripcion-logo .descripcion-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq:hover .tarjeta-descripcion {
  opacity: 1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-izq:hover .imagen-default {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der {
  height: 477px;
  border-radius: 0px 30px 30px 0px;
  padding: 32px 34px 32px 32px;
  margin: 10px;
  background-color: #F6EBC8;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der .imagen-tarjeta-2 {
  height: 300px;
  width: 325px;
  background-image: url("../img/Daniela Ancira.png");
  background-size: cover;
  border-radius: 0px 20px 20px 0px;
  position: relative;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der .tarjeta-descripcion {
  color: white;
  border-radius: 0px 20px 20px 0px;
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  padding: 60px 30px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der .tarjeta-descripcion .texto-resaltado {
  font-weight: 700;
  background-color: white;
  color: #F26123;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der .row .div-dialogo-joven {
  color: #F26123;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der .row .div-dialogo-joven .dialogo-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der .div-descripcion-logo {
  margin-top: 32px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der .div-descripcion-logo .descripcion-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der:hover .tarjeta-descripcion {
  opacity: 1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-3-der:hover .imagen-default {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq {
  height: 477px;
  border-radius: 30px 0px 0px 30px;
  padding: 32px;
  margin: 10px;
  background-color: #FDE8E9;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq .imagen-tarjeta-1 {
  height: 300px;
  width: 325px;
  background-image: url("../img/Federico López.png");
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  position: relative;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq .tarjeta-descripcion {
  color: white;
  border-radius: 20px 0px 0px 20px;
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  padding: 50px 25px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq .tarjeta-descripcion .texto-resaltado {
  font-weight: 600;
  background-color: white;
  color: #ED1C24;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq .row .div-dialogo-joven {
  color: #ED1C24;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq .row .div-dialogo-joven .dialogo-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq .div-descripcion-logo {
  margin-top: 32px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq .div-descripcion-logo .descripcion-joven {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq:hover .tarjeta-descripcion {
  opacity: 1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-izq:hover .imagen-default {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-der {
  height: 477px;
  border-radius: 0px 30px 30px 0px;
  padding: 109px 96px 32px 96px;
  margin: 10px;
  background-color: #DBF8D7;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-der .row {
  height: 100%;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-der .row .logo-entrevistas {
  height: 145px;
  width: 238px;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-der .row .texto-entrevistas {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #02503E;
  transition: color 0.5s ease-in-out;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-der:hover {
  background-color: #02503E;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-der:hover .texto-entrevistas {
  color: white;
}
.contenedor-tarjetas .tarjeta-joven-inspira-4-der:hover .boton-default-sin_fondo {
  color: white;
  border: 3px solid white;
}

.jumbotron5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/talleres.1.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron5 .cuadro-translucido {
  max-width: 430px;
  height: 391px;
  background: #02503E;
  background: linear-gradient(90deg, #02503E 0%, rgba(2, 80, 62, 0.709) 75%);
  text-align: start;
}
.jumbotron5 .cuadro-translucido .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  margin: 0px 50px;
}
.jumbotron5 .cuadro-translucido .titulo1b {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.cuadro-dividido {
  padding: 80px 80px 60px 80px;
  text-align: center;
}
.cuadro-dividido .contenedor-texto {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.cuadro-dividido .contenedor-texto strong {
  color: #009876;
}
.cuadro-dividido .contenedor-cuadros-divididos {
  border: 2px solid #009876;
  border-radius: 16px;
  margin-top: 80px;
}
.cuadro-dividido .contenedor-cuadros-divididos button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-escuelas {
  color: #5BBA47;
  border-bottom: 8px solid rgba(91, 186, 71, 0.5647058824);
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-universidades {
  color: #F26123;
  border-bottom: 8px solid rgba(250, 195, 19, 0.5647058824);
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-organizaciones {
  color: #ED1C24;
  border-bottom: 8px solid rgba(237, 28, 36, 0.5647058824);
}
.cuadro-dividido #descripcion {
  padding: 48px 109px 58px 109px;
}
.cuadro-dividido #descripcion #contenido {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.contenedor-cuadros-textofoto .texto {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  background-color: rgba(250, 195, 19, 0.2);
  padding: 84px 38px 84px 78px;
}
.contenedor-cuadros-textofoto .texto p strong {
  color: #f9f9f9;
  background-color: #F26123;
}
.contenedor-cuadros-textofoto .foto {
  background-image: url(../img/talleres.2.jpg);
  background-size: cover;
}

.pregunta {
  padding-top: 62px;
  text-align: center;
}
@media only screen and (max-width: 855px) {
  .pregunta {
    padding: 40px !important;
  }
}
.pregunta .pregunta-preboton {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 855px) {
  .pregunta .pregunta-preboton {
    font-size: 16px;
  }
}
.pregunta .boton-pregunta {
  width: 305px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  padding: 14px 80px;
  border: 0px;
  border-radius: 100px;
  background-color: #DBF8D7;
  margin: 24px 0 92px 0;
  color: #02503E;
  font-weight: 600;
}
@media only screen and (max-width: 855px) {
  .pregunta .boton-pregunta {
    font-size: 14px;
    width: 152px;
    padding: 6px 20px !important;
  }
}

.jumbotron4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/colaboraciones.1.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron4 .cuadro-translucido {
  max-width: 430px;
  height: 391px;
  background: #02503E;
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(2, 80, 62, 0.709) 75%);
  text-align: start;
}
.jumbotron4 .cuadro-translucido .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  padding-top: 40px;
}
.jumbotron4 .cuadro-translucido .titulo1b {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.seccion-cuadro-dividido .cuadro-dividido {
  position: relative;
  margin: 80px 82px 24px 82px;
}
.seccion-cuadro-dividido .cuadro-dividido .cuadro-izq {
  background-color: #DBF8D7;
  color: #02503E;
  padding: 48px 120px 48px 48px;
  text-align: end;
  border-radius: 30px 0px 0px 30px;
}
.seccion-cuadro-dividido .cuadro-dividido .cuadro-der {
  background-color: #02503E;
  color: #EDFEFB;
  padding: 48px 48px 48px 120px;
  text-align: start;
  border-radius: 0px 30px 30px 0px;
}
.seccion-cuadro-dividido .cuadro-dividido .texto-grande {
  font-size: 48px;
  letter-spacing: 0.02em;
  line-height: 32px;
}
.seccion-cuadro-dividido .cuadro-dividido .texto-chico {
  font-size: 24px;
  letter-spacing: 0.02rem;
  line-height: 32px;
}
.seccion-cuadro-dividido .cuadro-dividido .cuadro-imagen {
  background-color: #f9f9f9;
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.seccion-cuadro-dividido .texto-debajo-cuadros {
  text-align: center;
  font-size: 32px;
  color: #02503E;
  margin-bottom: 48px;
  line-height: 44px;
}

.seccion-cuadro-grande-dividido {
  background-color: #02503E;
}
.seccion-cuadro-grande-dividido .cuadros-grandes-divididos {
  padding: 80px 81px 70px 81px;
}
.seccion-cuadro-grande-dividido .cuadros-grandes-divididos .cuadro-grande-izq {
  width: 630px;
  height: 660px;
  background-color: #DBF8D7;
  border-radius: 30px 0px 0px 30px;
  background-image: url(../img/iconos-colaboraciones.png);
  object-fit: scale-down;
}
.seccion-cuadro-grande-dividido .cuadros-grandes-divididos .cuadro-grande-der {
  background-image: url(../img/colaboraciones.2.jpg);
  background-size: cover;
  border-radius: 0px 30px 30px 0px;
}

.pregunta {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  padding: 80px 0px;
}
.pregunta .boton-pregunta {
  padding: 14px 80px;
  border: 0px;
  border-radius: 100px;
  background-color: #DBF8D7;
  margin: 0px 24px;
  color: #02503E;
  font-weight: 600;
}

.jumbotron3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/organizaciones.1.png);
  background-size: cover;
  background-position: center;
  height: 494px;
}
.jumbotron3 .cuadro-translucido {
  width: 500px;
  height: 100%;
  background: rgb(2, 80, 62);
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(2, 80, 62, 0.709) 75%);
  text-align: start;
  padding: 88px 32px 88px 82px;
}
.jumbotron3 .cuadro-translucido .titulo-JeA {
  color: #f9f9f9;
  font-size: 64px;
  font-weight: 800;
  font-family: "Nunito";
  padding-top: 40px;
  margin: 0px;
}
.jumbotron3 .cuadro-translucido div .titulo1 {
  color: #f9f9f9;
  font-size: 52px;
  font-weight: 700;
  font-family: "Nunito";
}
.jumbotron3 .cuadro-translucido div .titulo1 strong {
  font-weight: 700;
}
.jumbotron3 .cuadro-translucido div .inspiran {
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

@media only screen and (max-width: 800px) {
  .jumbotron3 {
    height: 240px;
  }
  .jumbotron3 .cuadro-translucido {
    width: 100%;
    max-width: 800px;
    max-height: 80px;
    translate: 0% 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .jumbotron3 .cuadro-translucido .titulo-JeA {
    font-size: 28px;
    font-weight: 800;
    padding-top: 0px;
  }
  .jumbotron3 .cuadro-translucido div {
    margin-left: 8px;
  }
  .jumbotron3 .cuadro-translucido div .titulo1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
  }
  .jumbotron3 .cuadro-translucido div .titulo1 strong {
    color: #02503E;
    background-color: #f9f9f9;
    font-weight: 900;
  }
  .jumbotron3 .cuadro-translucido div .inspiran {
    font-size: 16px;
    font-weight: 200;
  }
}
.descripcion {
  text-align: center;
  font-size: 24px;
  font-family: "Nunito";
  padding: 90px 0px;
  background-color: #EDFEFB;
}
.descripcion .cuadro-descripcion-pregunta {
  max-width: 1000px;
}
.descripcion .cuadro-descripcion-pregunta h3 {
  color: #02503E;
}

.seccion-tarjetas {
  margin: 0px;
  padding: 0px;
}
.seccion-tarjetas .contenedor-tarjetas {
  margin: 80px 0px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #ED1C24;
  background-color: #ED1C24;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta .texto-resaltado {
  color: #ED1C24;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta-imagen {
  background-color: #FDE8E9;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta-descripcion {
  font-family: "Nunito";
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover {
  border: 4px solid #ED1C24;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #10936E;
  background-color: #10936E;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta .texto-resaltado {
  color: #10936E;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta-imagen {
  background-color: #DEF1DA;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta-descripcion {
  font-family: "Nunito";
  background-color: #10936E;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover {
  border: 4px solid #10936E;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #FAC313;
  background-color: #F26123;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta .texto-resaltado {
  color: #F26123;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta-imagen {
  background-color: #FEF3D0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta-descripcion {
  font-family: "Nunito";
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover {
  border: 4px solid #F26123;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #FAC313;
  background-color: #F26123;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta .texto-resaltado {
  color: #F26123;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta-imagen {
  background-color: #FEF3D0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta-descripcion {
  font-family: "Nunito";
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover {
  border: 4px solid #F26123;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #ED1C24;
  background-color: #ED1C24;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta .texto-resaltado {
  color: #ED1C24;
  background-color: #f9f9f9;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta-imagen {
  background-color: #FDE8E9;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta-descripcion {
  font-family: "Nunito";
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover {
  border: 4px solid #ED1C24;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover .tarjeta-descripcion {
  opacity: 1;
}

.carrusel-div {
  background-color: #f9f9f9;
  position: relative;
  padding: 40px 80px;
}
.carrusel-div .carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: 90%;
  padding: 0px;
}
.carrusel-div .carrusel .elemento {
  flex: 1 0 auto;
  margin: 0 10px;
  background-color: #ED1C24;
  border-radius: 16px;
  width: 300px;
  height: 200px;
}
.carrusel-div .carrusel .primer-elemento {
  margin: 0 10px 0 0;
}
.carrusel-div .carrusel::-webkit-scrollbar {
  height: 0px;
}
.carrusel-div .flecha-izquierda svg {
  position: absolute;
  top: 50%;
  left: 4rem;
  cursor: pointer;
}
.carrusel-div .flecha-derecha svg {
  position: absolute;
  top: 50%;
  right: 4rem;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .carrusel-div {
    padding: 40px 0px;
  }
  .carrusel-div .flechas {
    display: none;
  }
}

.clickPositivo {
  background-color: #DBF8D7;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.clickPositivo:hover {
  border: 3px solid #DBF8D7;
  background-color: #DBF8D7;
  font-size: 24px;
  color: rgb(10, 10, 10);
  transition: 0.7s;
}

.boton-enviar {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  padding: 14px 114px;
  border: 0px;
  border-radius: 100px;
  background-color: #DEF1DA;
  margin-top: 24px;
  color: #02503E;
  font-weight: 600;
}
@media only screen and (max-width: 955px) {
  .boton-enviar {
    font-size: 14px;
    padding: 5px 54px;
  }
}

.btn-flag {
  background-color: #f9f9f9;
  border-radius: 25px;
  border: #02503E 2px solid;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 15px;
  display: flex;
  /* --bs-btn-hover-border-color:none */
}
.btn-flag a {
  color: #02503E !important;
  text-decoration: none;
  list-style-type: none;
}

.btn-flag:hover {
  border: #02503E 2px solid;
}

@media only screen and (min-width: 360px) and (max-width: 1023px) {
  btn-flag {
    background-color: #f9f9f9;
    border-radius: 25px;
    border: #02503E 2px solid;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 15px;
    display: flex;
    /* --bs-btn-hover-border-color:none */
  }
  btn-flag a {
    color: #02503E !important;
    text-decoration: none;
    list-style-type: none;
  }
}
.contacto-JeA {
  width: 100%;
  background-color: #02503E;
  padding: 80px 0px;
}
@media only screen and (max-width: 768px) {
  .contacto-JeA {
    padding: 40px 0px;
  }
}
.contacto-JeA .div-texto {
  margin: auto;
  max-width: 800px;
  min-height: 80px;
}
.contacto-JeA .div-texto p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #02503E;
  padding: 24px 0px;
}
@media only screen and (max-width: 955px) {
  .contacto-JeA .div-texto p {
    font-size: 26px;
  }
}
@media only screen and (max-width: 600px) {
  .contacto-JeA .div-texto p {
    font-size: 20px;
  }
}
.contacto-JeA .div-iconos {
  margin-top: 55px;
}
@media only screen and (max-width: 768px) {
  .contacto-JeA .div-iconos .contacto-rrss {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .contacto-JeA .div-iconos .contacto-mail {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .contacto-JeA .div-iconos .contacto-whatsapp {
    margin-top: 30px;
  }
}
.contacto-JeA .div-iconos p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin: 15px 0px;
}
@media only screen and (max-width: 955px) {
  .contacto-JeA .div-iconos p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .contacto-JeA .div-iconos p {
    margin: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .contacto-JeA .div-iconos p {
    font-size: 16px;
  }
}
.contacto-JeA .div-iconos strong {
  font-weight: bold;
}

.contenedor-imagen-formulario {
  padding: 80px;
  max-width: 1440px;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .contenedor-imagen-formulario {
    padding: 40px 10px;
  }
}
.contenedor-imagen-formulario .contenedor-imagen {
  background-image: url(../img/contacto.1.jpg);
  background-size: cover;
  border-radius: 16px;
  max-height: 750px;
  margin-right: 50px;
}
@media only screen and (max-width: 1000px) {
  .contenedor-imagen-formulario .contenedor-imagen {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .contenedor-imagen-formulario .contenedor-imagen {
    display: none;
  }
}
.contenedor-imagen-formulario .contenedor-formulario {
  margin-left: 50px;
}
@media only screen and (max-width: 1000px) {
  .contenedor-imagen-formulario .contenedor-formulario {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .contenedor-imagen-formulario .contenedor-formulario {
    margin-left: 0px;
  }
}
.contenedor-imagen-formulario .contenedor-formulario h2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #02503E;
}
@media only screen and (max-width: 955px) {
  .contenedor-imagen-formulario .contenedor-formulario h2 {
    font-size: 28px;
  }
}
.contenedor-imagen-formulario .contenedor-formulario p {
  margin-top: 24px;
  margin-bottom: 40px;
}
.contenedor-imagen-formulario .contenedor-formulario p,
.contenedor-imagen-formulario .contenedor-formulario label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #02503E;
}
@media only screen and (max-width: 955px) {
  .contenedor-imagen-formulario .contenedor-formulario p,
  .contenedor-imagen-formulario .contenedor-formulario label {
    font-size: 16px;
  }
}
.contenedor-imagen-formulario .contenedor-formulario input,
.contenedor-imagen-formulario .contenedor-formulario textarea {
  background-color: transparent;
  border: 1px solid #02503E;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 22px;
  padding: 14px;
  resize: none;
}
@media only screen and (max-width: 955px) {
  .contenedor-imagen-formulario .contenedor-formulario input,
  .contenedor-imagen-formulario .contenedor-formulario textarea {
    font-size: 16px;
  }
}

.jumbotron6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/oportunidades.1.jpg);
  background-size: cover;
  background-position: center;
  height: 370px;
}
.jumbotron6 .cuadro-translucido {
  max-width: 590px;
  height: 370px;
  background: #02503E;
  background: linear-gradient(90deg, #02503E 0%, rgba(2, 80, 62, 0.709) 75%);
  text-align: start;
}
.jumbotron6 .cuadro-translucido .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  margin: 0px 50px;
}

.becas {
  /* background-color: beige; */
  display: flex;
  margin: 50px 150px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.becas .fondo-becas {
  display: flex;
  background-color: #DEF1DA;
  border-radius: 30px;
}
.becas .fondo-becas .imag-titulos {
  display: flex;
  position: relative;
  width: 450px;
  height: 450px;
  background-image: url(../img/oportunidades.2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.becas .fondo-becas .imag-titulos .titulo-opo {
  position: absolute;
  bottom: -10px;
  text-align: center;
  width: 100%;
  padding: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100px;
  color: #f9f9f9;
  font-size: 26px;
  font-weight: 600;
  font-family: "Nunito";
  background: linear-gradient(90deg, #009876 0%, rgba(14, 128, 102, 0.626) 75%);
}
.becas .fondo-becas .content-texto-becas {
  border-radius: 30px;
  background-color: #DEF1DA;
  width: 750px;
  height: 450px;
}
.becas .fondo-becas .content-texto-becas .titulo-becas {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 32px;
  line-height: 60px;
  background-color: #009876;
  color: #f9f9f9;
  width: 150px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-left: 45px;
}
.becas .fondo-becas .content-texto-becas .becas-ajuste {
  display: flex;
  padding: 10px;
}
.becas .fondo-becas .content-texto-becas .becas-ajuste ul {
  /* background-color: chartreuse; */
  width: 50%;
}
.becas .fondo-becas .content-texto-becas .becas-ajuste ul li {
  list-style-type: none;
  /* border: 2px solid red; */
}
.becas .fondo-becas .content-texto-becas .becas-ajuste ul li a {
  text-decoration: none;
  color: #02503E;
  font-size: 24px;
  font-family: "Nunito";
  font-weight: 400px;
  line-height: 36px;
  /* background-color: rgba(139, 0, 76, 0.736); */
}

.programa {
  border: 3px solid #009876;
  border-radius: 25px;
  margin: 20px;
  margin-left: 150px;
  padding: 20px;
  width: 1200px;
  height: 250px;
  display: flex;
}
.programa h3 {
  color: #009876;
  /* border: 2px solid greenyellow; */
  padding: 5%;
  padding-right: 150px;
}
.programa .programa-logos {
  /* border: 2px solid blue; */
  display: flex;
  align-items: flex-end;
}
.programa .programa-logos div {
  /* border: 2px solid red; */
  padding: 10px 30px;
}
.programa .programa-logos .img-especial {
  background-color: #642869;
  border-radius: 50%;
  margin: 10px;
}
.programa .programa-logos .img-programa {
  width: 160px;
  height: 100px;
}
.programa .programa-logos button {
  display: flex;
  text-align: center;
}

.titulo-flag {
  margin-top: 125px;
  margin: 90px;
  padding: 10px 60px;
}
.titulo-flag .titulo-voluntariado {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 32px;
  line-height: 60px;
  background-color: #009876;
  color: #f9f9f9;
  width: 250px;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-left: 110px;
}
.titulo-flag .text-flag {
  /* border: 2px solid rgb(141, 47, 255); */
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 400px;
  line-height: 32px;
  width: 80%;
  padding: 20px;
  margin-top: 30px;
  margin-left: 110px;
}
.titulo-flag .text-flag span {
  font-weight: 800;
  color: #009876;
}

.container-group {
  /* border: 2px solid rgb(141, 47, 255); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 160px;
  margin-bottom: 150px;
}
.container-group .flag {
  padding: 20px;
}

.img-flag {
  width: 160px;
  height: 98px;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 360px) and (max-width: 1023px) {
  .jumbotron6 {
    width: 360px;
    height: 240px;
    background-size: cover;
    background-position: right;
  }
  .jumbotron6 .cuadro-translucido {
    height: 80px;
    text-align: start;
    width: 360px;
  }
  .jumbotron6 .cuadro-translucido .titulo1 {
    margin: 0px;
    font-size: 24px;
    line-height: 16px;
    font-weight: 800;
  }
  .contenedor-titulo {
    width: 320px;
  }
  .contenedor-titulo h2 {
    display: none;
    /* box-sizing: 0;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 18px;
    margin: 0; */
    /* text-align: center; */
  }
  .becas {
    margin: 10px;
  }
  .becas .fondo-becas {
    flex-direction: column;
  }
  .becas .fondo-becas .imag-titulos {
    width: 350px;
  }
  .becas .fondo-becas .imag-titulos .titulo-opo {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .becas .fondo-becas .content-texto-becas {
    width: 350px;
    height: 34rem;
  }
  .becas .fondo-becas .content-texto-becas .titulo-becas {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
  }
  .becas .fondo-becas .content-texto-becas .becas-ajuste {
    flex-direction: column;
  }
  .becas .fondo-becas .content-texto-becas .becas-ajuste ul {
    width: 300px;
  }
  .becas .fondo-becas .content-texto-becas .becas-ajuste ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 0;
  }
  .programa {
    flex-direction: column;
    border: 3px solid #009876;
    border-radius: 25px;
    margin: 10px;
    margin-top: 40px;
    padding: 10px;
    width: 340px;
    height: auto;
  }
  .programa h3 {
    color: #009876;
    /* border: 2px solid greenyellow; */
    padding: 10px;
    text-align: center;
  }
  .programa .programa-logos {
    /* border: 2px solid blue; */
    flex-direction: column;
    align-items: center;
  }
  .programa .programa-logos div {
    border: 2px solid red;
    padding: 15px 10px;
  }
  .programa .programa-logos .img-especial {
    background-color: #642869;
    border-radius: 50%;
    margin: 10px;
  }
  .programa .programa-logos .img-programa {
    width: 100px;
    height: 80px;
  }
  .programa .programa-logos button {
    /* display: flex; */
    text-align: center;
    align-content: center;
  }
  .titulo-flag {
    flex-direction: column;
    margin-top: 15px;
    margin: 0px;
    padding: 5px;
  }
  .titulo-flag .titulo-voluntariado {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: #009876;
    color: #f9f9f9;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
  }
  .titulo-flag .text-flag {
    /* border: 2px solid rgb(141, 47, 255); */
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    padding: 10px;
    margin: 0px;
  }
  .titulo-flag .text-flag span {
    font-weight: 800;
    color: #009876;
  }
  .container-group {
    display: none;
  }
}
.clickPositivo {
  background-color: #DBF8D7;
  border-radius: 25px;
  padding: 5px 40px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.clickPositivo:hover {
  border: 3px solid #DBF8D7;
  background-color: #DBF8D7;
  font-size: 24px;
  color: rgb(10, 10, 10);
  transition: 0.7s;
}

.boton-enviar {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  padding: 14px 114px;
  border: 0px;
  border-radius: 100px;
  background-color: #DEF1DA;
  margin-top: 24px;
  color: #02503E;
  font-weight: 600;
}
@media only screen and (max-width: 955px) {
  .boton-enviar {
    font-size: 14px;
    padding: 5px 54px;
  }
}

.btn-flag {
  background-color: #f9f9f9;
  border-radius: 25px;
  border: #02503E 2px solid;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 15px;
  display: flex;
  /* --bs-btn-hover-border-color:none */
}
.btn-flag a {
  color: #02503E !important;
  text-decoration: none;
  list-style-type: none;
}

.btn-flag:hover {
  border: #02503E 2px solid;
}

@media only screen and (min-width: 360px) and (max-width: 1023px) {
  btn-flag {
    background-color: #f9f9f9;
    border-radius: 25px;
    border: #02503E 2px solid;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 15px;
    display: flex;
    /* --bs-btn-hover-border-color:none */
  }
  btn-flag a {
    color: #02503E !important;
    text-decoration: none;
    list-style-type: none;
  }
}
.jumbotron7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/quiénes\ somos.1.jpg);
  background-size: cover;
  background-position: center;
  height: 370px;
}
.jumbotron7 .cuadro-translucido {
  max-width: 590px;
  height: 370px;
  background: #02503E;
  background: linear-gradient(90deg, #02503E 0%, rgba(2, 80, 62, 0.709) 75%);
  text-align: start;
}
.jumbotron7 .cuadro-translucido .titulo1 {
  color: #f9f9f9;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  margin: 0px 50px;
}

.titulo-quienes-somos {
  font-family: "Nunito";
  color: #02503E;
  font-size: 36px;
  padding: 10px 30px;
  text-align: center;
  margin: 30px 60px;
}
@media only screen and (max-width: 855px) {
  .titulo-quienes-somos {
    font-size: 20px;
    margin: 16px 40px !important;
  }
}

.secciones-pilares_historia {
  max-width: 1300px;
  margin: auto;
}
.secciones-pilares_historia .recuadro-pilares .recuadro-texto {
  font-weight: 700;
  padding: 10px;
  font-family: "Nunito";
  font-size: 20px;
}
@media only screen and (max-width: 950px) {
  .secciones-pilares_historia .recuadro-pilares .recuadro-texto {
    font-size: 16px;
  }
}
.secciones-pilares_historia .recuadro-pilares .recuadro-texto .relleno-green {
  background-color: #02503E;
  color: #f9f9f9;
  padding: 0 5px;
}
.secciones-pilares_historia .recuadro-pilares .recuadro-texto .relleno-yellow {
  background-color: #F26123;
  color: #f9f9f9;
  padding: 0 5px;
}
.secciones-pilares_historia .recuadro-pilares .recuadro-texto .relleno-red {
  background-color: #ED1C24;
  color: #f9f9f9;
  padding: 0 5px;
}
.secciones-pilares_historia .recuadro-pilares .card {
  font-size: 18px;
  height: 410px;
  max-width: 408px;
  border-radius: 25px;
}
@media only screen and (max-width: 1150px) {
  .secciones-pilares_historia .recuadro-pilares .card {
    height: 480px;
  }
}
@media only screen and (max-width: 950px) {
  .secciones-pilares_historia .recuadro-pilares .card {
    height: 408px;
  }
}
@media only screen and (max-width: 820px) {
  .secciones-pilares_historia .recuadro-pilares .card {
    height: 450px;
  }
}
@media only screen and (max-width: 768px) {
  .secciones-pilares_historia .recuadro-pilares .card {
    height: 310px;
  }
}
@media only screen and (max-width: 375px) {
  .secciones-pilares_historia .recuadro-pilares .card {
    height: 340px;
  }
}
.secciones-pilares_historia .recuadro-pilares .card-A {
  background-color: #DBF8D7;
  border-color: #DBF8D7;
}
.secciones-pilares_historia .recuadro-pilares .card-B {
  background-color: #F6EBC8;
  border-color: #F6EBC8;
}
.secciones-pilares_historia .recuadro-pilares .card-C {
  background-color: #FDE8E9;
  border-color: #FDE8E9;
}
.secciones-pilares_historia .recuadro-pilares .titulo-pilar {
  font-size: 36px;
  font-family: "Nunito";
  font-weight: 800;
}
@media only screen and (max-width: 950px) {
  .secciones-pilares_historia .recuadro-pilares .titulo-pilar {
    font-size: 24px;
  }
}
.secciones-pilares_historia .recuadro-pilares .titulo-pilar-1 {
  color: #02503E;
}
.secciones-pilares_historia .recuadro-pilares .titulo-pilar-2 {
  color: #F26123;
}
.secciones-pilares_historia .recuadro-pilares .titulo-pilar-3 {
  color: #ED1C24;
}
.secciones-pilares_historia .recuadro-historia {
  background-color: #02503E;
  border-radius: 16px;
  max-width: 1280px;
}
.secciones-pilares_historia .recuadro-historia .recuadro-texto-historia {
  margin: 50px;
}
@media only screen and (max-width: 975px) {
  .secciones-pilares_historia .recuadro-historia .recuadro-texto-historia {
    margin: 20px;
    margin-top: 50px;
  }
}
.secciones-pilares_historia .recuadro-historia .recuadro-texto-historia h3 {
  color: #f9f9f9;
  font-family: "Nunito";
  font-size: 36px;
  font-weight: 800;
}
.secciones-pilares_historia .recuadro-historia .recuadro-texto-historia .texto-historia {
  color: #f9f9f9;
  min-width: 100px;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
@media only screen and (max-width: 1200px) {
  .secciones-pilares_historia .recuadro-historia .recuadro-texto-historia .texto-historia {
    font-size: 18px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 855px) {
  .secciones-pilares_historia .recuadro-historia .recuadro-texto-historia .texto-historia {
    font-size: 16px;
    line-height: 18px;
  }
}
.secciones-pilares_historia .recuadro-historia .recuadro-texto-historia .texto-historia span {
  color: black;
  font-weight: 600;
  background-color: #f9f9f9;
}
.secciones-pilares_historia .recuadro-historia .recuadro-texto-historia .boton-default-sin_fondo_invertido {
  padding: 14px 47px;
  border: 3px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  font-family: "Poppins";
  color: #ffffff;
  transition: color border 0.5s ease-in-out;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 304px;
  height: 64px;
}
@media only screen and (max-width: 855px) {
  .secciones-pilares_historia .recuadro-historia .recuadro-texto-historia .boton-default-sin_fondo_invertido {
    display: none;
  }
}
.secciones-pilares_historia .recuadro-historia .recuadro-fotos img {
  width: 500px;
  border-radius: 16px;
}
@media only screen and (max-width: 855px) {
  .secciones-pilares_historia .recuadro-historia .recuadro-fotos {
    display: none;
  }
}
.secciones-pilares_historia .recuadro-historia .recuadro-flecha-abajo {
  display: none;
}
@media only screen and (max-width: 855px) {
  .secciones-pilares_historia .recuadro-historia .recuadro-flecha-abajo {
    display: block;
  }
}
.secciones-pilares_historia .recuadro-historia .recuadro-flecha-arriba .boton-flecha,
.secciones-pilares_historia .recuadro-historia .recuadro-flecha-abajo .boton-flecha {
  border: none;
  width: 100%;
  background-color: #02503E;
}
.secciones-pilares_historia .recuadro-historia .recuadro-flecha-arriba .boton-flecha .img-flecha,
.secciones-pilares_historia .recuadro-historia .recuadro-flecha-abajo .boton-flecha .img-flecha {
  background-color: #02503E;
  width: 25px;
  height: 25px;
}

body {
  background-color: #f8f8f8;
}

header {
  background-color: #EDFEFB !important;
}

/*# sourceMappingURL=estilos.css.map */
