.jumbotron3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Organizaciones.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.jumbotron3 .cuadroJovenes {
  width: 430px;
  height: 391px;
  background: rgb(2, 80, 62);
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(0, 0, 0, 0.7092086835) 75%);
  text-align: start;
}
.jumbotron3 .cuadroJovenes .titulo1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  font-family: "Nunito";
  padding-top: 40px;
}
.jumbotron3 .cuadroJovenes .inspiran {
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
  font-family: "Nunito Sans", sans-serif;
}

.pregunta {
  font-size: 24px;
  font-family: "Poppins";
  padding: 80px 0px;
}
.pregunta .boton-pregunta {
  padding: 14px 80px;
  border: 0px;
  border-radius: 100px;
  background-color: #DEF1DA;
  margin: 0px 24px;
  color: #02503E;
  font-weight: bold;
}

.descripcion {
  text-align: center;
  font-size: 24px;
  font-family: "Nunito";
  padding: 90px 0px;
  background-color: #EDFEFB;
}
.descripcion h3 {
  color: #02503E;
}

.seccion-tarjetas .contenedor-tarjetas {
  margin: 80px 0px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #ED1C24;
  background-color: #ED1C24;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta .texto-resaltado {
  color: #ED1C24;
  background-color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta-imagen {
  background-color: #FDE8E9;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1 .tarjeta-descripcion {
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover {
  border: 4px solid #ED1C24;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas1:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #10936E;
  background-color: #10936E;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta .texto-resaltado {
  color: #10936E;
  background-color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta-imagen {
  background-color: #DEF1DA;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2 .tarjeta-descripcion {
  background-color: #10936E;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover {
  border: 4px solid #10936E;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas2:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #FAC313;
  background-color: #F26123;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta .texto-resaltado {
  color: #F26123;
  background-color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta-imagen {
  background-color: #FEF3D0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3 .tarjeta-descripcion {
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover {
  border: 4px solid #F26123;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas3:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #FAC313;
  background-color: #F26123;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta .texto-resaltado {
  color: #F26123;
  background-color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta-imagen {
  background-color: #FEF3D0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4 .tarjeta-descripcion {
  background-color: #F26123;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover {
  border: 4px solid #F26123;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas4:hover .tarjeta-descripcion {
  opacity: 1;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 {
  min-height: 200px;
  min-width: 200px;
  max-height: 350px;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  border: 4px solid #ED1C24;
  background-color: #ED1C24;
  margin: 12px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta .texto-resaltado {
  color: #ED1C24;
  background-color: white;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta-imagen {
  background-color: #FDE8E9;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 95px 75px;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5 .tarjeta-descripcion {
  background-color: #ED1C24;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover {
  border: 4px solid #ED1C24;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover .tarjeta-imagen {
  opacity: 0;
}
.seccion-tarjetas .contenedor-tarjetas .tarjetas5:hover .tarjeta-descripcion {
  opacity: 1;
}

.carrusel-div {
  background-color: #EDFEFB;
  position: relative;
  padding: 40px 80px;
}
.carrusel-div .carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  width: 90%;
}
.carrusel-div .carrusel .elemento {
  flex: 1 0 auto;
  margin: 0 10px;
  background-color: #ED1C24;
  border-radius: 16px;
  width: 300px;
  height: 200px;
}
.carrusel-div .carrusel::-webkit-scrollbar {
  height: 0px;
}
.carrusel-div .flecha-izquierda img {
  position: absolute;
  top: 50%;
  left: 4rem;
  cursor: pointer;
}
.carrusel-div .flecha-derecha img {
  position: absolute;
  top: 50%;
  right: 4rem;
  cursor: pointer;
}

/*# sourceMappingURL=organizaciones.css.map */
