.jumbotron5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/talleres.1.jpg);
  background-size: cover;
  background-position: center;
  height: 494px;
}
.jumbotron5 .cuadro-translucido {
  width: 500px;
  height: 100%;
  background: #02503E;
  background: linear-gradient(90deg, rgb(2, 80, 62) 0%, rgba(2, 80, 62, 0.709) 75%);
  text-align: start;
  padding: 88px 32px 88px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jumbotron5 .cuadro-translucido .titulo-JeA,
.jumbotron5 .cuadro-translucido p {
  color: #f9f9f9;
  font-size: 64px;
  font-weight: 800;
  font-family: "Nunito";
  margin: 0px;
}

.cuadro-dividido {
  padding: 80px 80px 60px 80px;
  text-align: center;
  max-width: 1920px;
  margin: auto;
}
.cuadro-dividido .contenedor-texto {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.cuadro-dividido .contenedor-texto strong {
  color: #009876;
}
.cuadro-dividido .contenedor-cuadros-divididos {
  border: 2px solid #009876;
  border-radius: 16px;
  margin-top: 80px;
}
.cuadro-dividido .contenedor-cuadros-divididos button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-escuelas {
  color: #5BBA47;
  border-bottom: 8px solid rgba(91, 186, 71, 0.5647058824);
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-universidades {
  color: #F26123;
  border-bottom: 8px solid rgba(250, 195, 19, 0.5647058824);
}
.cuadro-dividido .contenedor-cuadros-divididos .boton-organizaciones {
  color: #ED1C24;
  border-bottom: 8px solid rgba(237, 28, 36, 0.5647058824);
}
.cuadro-dividido .contenedor-cuadros-divididos .botones {
  display: inline-block;
}
.cuadro-dividido .contenedor-cuadros-divididos .botones-movil {
  display: none !important;
}
.cuadro-dividido #descripcion {
  padding: 48px 109px 58px 109px;
}
.cuadro-dividido #descripcion #contenido {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.contenedor-cuadros-textofoto {
  max-width: 1740px;
}
.contenedor-cuadros-textofoto .texto {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  background-color: rgba(250, 195, 19, 0.2);
  padding: 84px 38px 84px 78px;
}
.contenedor-cuadros-textofoto .texto p strong {
  color: #f9f9f9;
  background-color: #F26123;
}
.contenedor-cuadros-textofoto .foto {
  background-image: url(../img/talleres.2.jpg);
  background-size: cover;
  background-position: center center;
  min-width: 300px;
}

@media only screen and (max-width: 955px) {
  .jumbotron5 {
    height: 240px;
  }
  .jumbotron5 .cuadro-translucido {
    width: 100%;
    max-width: 955px;
    max-height: 80px;
    translate: 0% 100%;
    padding: 0px 16px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .jumbotron5 .cuadro-translucido .titulo-JeA,
  .jumbotron5 .cuadro-translucido p {
    font-size: 28px;
    font-weight: 800;
    padding-top: 0px;
    margin: 0px 5px;
  }
  .cuadro-dividido {
    padding: 20px 20px 40px 20px;
    text-align: center;
  }
  .cuadro-dividido .contenedor-texto p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: "Nunito";
    min-height: 160px;
    padding: 20px;
  }
  .cuadro-dividido .contenedor-texto p strong {
    color: #009876;
  }
  .cuadro-dividido .contenedor-cuadros-divididos {
    border: 1px solid #009876;
    border-radius: 8px;
    margin-top: 20px;
    overflow: hidden;
  }
  .cuadro-dividido .contenedor-cuadros-divididos .botones {
    display: none !important;
  }
  .cuadro-dividido .contenedor-cuadros-divididos .botones-movil {
    display: inline-block !important;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .cuadro-dividido .contenedor-cuadros-divididos button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    max-width: 955px;
  }
  .cuadro-dividido .contenedor-cuadros-divididos .boton-escuelas {
    color: #5BBA47;
    background-color: rgba(91, 186, 71, 0.1882352941);
    border-bottom: 4px solid rgba(91, 186, 71, 0.5647058824);
    padding: 12px 0px;
  }
  .cuadro-dividido .contenedor-cuadros-divididos .boton-universidades {
    color: #F26123;
    background-color: rgba(250, 195, 19, 0.1882352941);
    border-bottom: 4px solid #FAC313;
    padding: 12px 0px;
  }
  .cuadro-dividido .contenedor-cuadros-divididos .boton-organizaciones {
    color: #ED1C24;
    background-color: rgba(237, 28, 36, 0.1882352941);
    border-bottom: 4px solid rgba(237, 28, 36, 0.5647058824);
    padding: 12px 0px;
  }
  .cuadro-dividido #descripcion {
    display: none;
  }
  .cuadro-dividido #descripcion-escuelas, .cuadro-dividido #descripcion-universidades, .cuadro-dividido #descripcion-organizaciones {
    padding: 15px;
  }
  .cuadro-dividido #descripcion-escuelas #contenido, .cuadro-dividido #descripcion-universidades #contenido, .cuadro-dividido #descripcion-organizaciones #contenido {
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .contenedor-cuadros-textofoto .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-cuadros-textofoto .row .texto {
    order: 2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(250, 195, 19, 0.2);
    padding: 30px;
    min-height: 160px;
  }
  .contenedor-cuadros-textofoto .row .texto strong {
    color: #f9f9f9;
    background-color: #F26123;
  }
  .contenedor-cuadros-textofoto .row .foto {
    order: 1;
    background-image: url(../img/talleres.2.jpg);
    background-size: cover;
    min-height: 340px;
  }
}
.no-link {
  text-decoration: none;
}

/*# sourceMappingURL=talleres.css.map */
